

<div class="Image-Output-Zone">
    <div class="Image-Outputed">
        <img src="http://app.pawnokit.ru.swtest.ru/images/Vehicle_448.jpg" alt="" width="204" height="125">
    </div>
    <div class="Info-Outputed">
        <b>Vehicle Model ID: </b>
        <span class="id">448 </span>
        <br />

        <b>Vehicle Name:</b>
        <span class="vname">Pizzaboy </span>
        <br />

        <b>Category:</b>
        <span class="category">Bikes </span>
        <br />

        <b>Modifications:</b>
        <span class="mods">None </span>
        <br />


    </div>
    <br clear="both" />
</div>

<div class="Image-Output-Zone">
    <div class="Image-Outputed">
        <img src="http://app.pawnokit.ru.swtest.ru/images/Vehicle_461.jpg" alt="" width="204" height="125">
    </div>
    <div class="Info-Outputed">
        <b>Vehicle Model ID: </b>
        <span class="id">461 </span>
        <br />

        <b>Vehicle Name:</b>
        <span class="vname">PCJ-600 </span>
        <br />

        <b>Category:</b>
        <span class="category">Bikes </span>
        <br />

        <b>Modifications:</b>
        <span class="mods">None </span>
        <br />


    </div>
    <br clear="both" />
</div>

<div class="Image-Output-Zone">
    <div class="Image-Outputed">
        <img src="http://app.pawnokit.ru.swtest.ru/images/Vehicle_462.jpg" alt="" width="204" height="125">
    </div>
    <div class="Info-Outputed">
        <b>Vehicle Model ID: </b>
        <span class="id">462 </span>
        <br />

        <b>Vehicle Name:</b>
        <span class="vname">Faggio </span>
        <br />

        <b>Category:</b>
        <span class="category">Bikes </span>
        <br />

        <b>Modifications:</b>
        <span class="mods">None </span>
        <br />


    </div>
    <br clear="both" />
</div>

<div class="Image-Output-Zone">
    <div class="Image-Outputed">
        <img src="http://app.pawnokit.ru.swtest.ru/images/Vehicle_463.jpg" alt="" width="204" height="125">
    </div>
    <div class="Info-Outputed">
        <b>Vehicle Model ID: </b>
        <span class="id">463 </span>
        <br />

        <b>Vehicle Name:</b>
        <span class="vname">Freeway </span>
        <br />

        <b>Category:</b>
        <span class="category">Bikes </span>
        <br />

        <b>Modifications:</b>
        <span class="mods">None </span>
        <br />


    </div>
    <br clear="both" />
</div>

<div class="Image-Output-Zone">
    <div class="Image-Outputed">
        <img src="http://app.pawnokit.ru.swtest.ru/images/Vehicle_468.jpg" alt="" width="204" height="125">
    </div>
    <div class="Info-Outputed">
        <b>Vehicle Model ID: </b>
        <span class="id">468 </span>
        <br />

        <b>Vehicle Name:</b>
        <span class="vname">Sanchez </span>
        <br />

        <b>Category:</b>
        <span class="category">Bikes </span>
        <br />

        <b>Modifications:</b>
        <span class="mods">None </span>
        <br />


    </div>
    <br clear="both" />
</div>

<div class="Image-Output-Zone">
    <div class="Image-Outputed">
        <img src="http://app.pawnokit.ru.swtest.ru/images/Vehicle_471.jpg" alt="" width="204" height="125">
    </div>
    <div class="Info-Outputed">
        <b>Vehicle Model ID: </b>
        <span class="id">471 </span>
        <br />

        <b>Vehicle Name:</b>
        <span class="vname">Quad </span>
        <br />

        <b>Category:</b>
        <span class="category">Bikes </span>
        <br />

        <b>Modifications:</b>
        <span class="mods">None </span>
        <br />


    </div>
    <br clear="both" />
</div>

<div class="Image-Output-Zone">
    <div class="Image-Outputed">
        <img src="http://app.pawnokit.ru.swtest.ru/images/Vehicle_481.jpg" alt="" width="204" height="125">
    </div>
    <div class="Info-Outputed">
        <b>Vehicle Model ID: </b>
        <span class="id">481 </span>
        <br />

        <b>Vehicle Name:</b>
        <span class="vname">BMX </span>
        <br />

        <b>Category:</b>
        <span class="category">Bikes </span>
        <br />

        <b>Modifications:</b>
        <span class="mods">None </span>
        <br />


    </div>
    <br clear="both" />
</div>

<div class="Image-Output-Zone">
    <div class="Image-Outputed">
        <img src="http://app.pawnokit.ru.swtest.ru/images/Vehicle_509.jpg" alt="" width="204" height="125">
    </div>
    <div class="Info-Outputed">
        <b>Vehicle Model ID: </b>
        <span class="id">509 </span>
        <br />

        <b>Vehicle Name:</b>
        <span class="vname">Bike </span>
        <br />

        <b>Category:</b>
        <span class="category">Bikes </span>
        <br />

        <b>Modifications:</b>
        <span class="mods">None </span>
        <br />


    </div>
    <br clear="both" />
</div>

<div class="Image-Output-Zone">
    <div class="Image-Outputed">
        <img src="http://app.pawnokit.ru.swtest.ru/images/Vehicle_510.jpg" alt="" width="204" height="125">
    </div>
    <div class="Info-Outputed">
        <b>Vehicle Model ID: </b>
        <span class="id">510 </span>
        <br />

        <b>Vehicle Name:</b>
        <span class="vname">Mountain Bike </span>
        <br />

        <b>Category:</b>
        <span class="category">Bikes </span>
        <br />

        <b>Modifications:</b>
        <span class="mods">None </span>
        <br />


    </div>
    <br clear="both" />
</div>

<div class="Image-Output-Zone">
    <div class="Image-Outputed">
        <img src="http://app.pawnokit.ru.swtest.ru/images/Vehicle_521.jpg" alt="" width="204" height="125">
    </div>
    <div class="Info-Outputed">
        <b>Vehicle Model ID: </b>
        <span class="id">521 </span>
        <br />

        <b>Vehicle Name:</b>
        <span class="vname">FCR-900 </span>
        <br />

        <b>Category:</b>
        <span class="category">Bikes </span>
        <br />

        <b>Modifications:</b>
        <span class="mods">None </span>
        <br />


    </div>
    <br clear="both" />
</div>

<div class="Image-Output-Zone">
    <div class="Image-Outputed">
        <img src="http://app.pawnokit.ru.swtest.ru/images/Vehicle_522.jpg" alt="" width="204" height="125">
    </div>
    <div class="Info-Outputed">
        <b>Vehicle Model ID: </b>
        <span class="id">522 </span>
        <br />

        <b>Vehicle Name:</b>
        <span class="vname">NRG-500 </span>
        <br />

        <b>Category:</b>
        <span class="category">Bikes </span>
        <br />

        <b>Modifications:</b>
        <span class="mods">None </span>
        <br />


    </div>
    <br clear="both" />
</div>

<div class="Image-Output-Zone">
    <div class="Image-Outputed">
        <img src="http://app.pawnokit.ru.swtest.ru/images/Vehicle_581.jpg" alt="" width="204" height="125">
    </div>
    <div class="Info-Outputed">
        <b>Vehicle Model ID: </b>
        <span class="id">581 </span>
        <br />

        <b>Vehicle Name:</b>
        <span class="vname">BF-400 </span>
        <br />

        <b>Category:</b>
        <span class="category">Bikes </span>
        <br />

        <b>Modifications:</b>
        <span class="mods">None </span>
        <br />


    </div>
    <br clear="both" />
</div>

<div class="Image-Output-Zone">
    <div class="Image-Outputed">
        <img src="http://app.pawnokit.ru.swtest.ru/images/Vehicle_586.jpg" alt="" width="204" height="125">
    </div>
    <div class="Info-Outputed">
        <b>Vehicle Model ID: </b>
        <span class="id">586 </span>
        <br />

        <b>Vehicle Name:</b>
        <span class="vname">Wayfarer </span>
        <br />

        <b>Category:</b>
        <span class="category">Bikes </span>
        <br />

        <b>Modifications:</b>
        <span class="mods">None </span>
        <br />


    </div>
    <br clear="both" />
</div>
