

<div class="Image-Output-Zone">
    <div class="Image-Outputed">
        <img src="http://app.pawnokit.ru.swtest.ru/images/Vehicle_441.jpg" alt="" width="204" height="125">
    </div>
    <div class="Info-Outputed">
        <b>Vehicle Model ID: </b>
        <span class="id">441 </span>
        <br />

        <b>Vehicle Name:</b>
        <span class="vname">RC Bandit </span>
        <br />

        <b>Category:</b>
        <span class="category">RC Vehicles </span>
        <br />

        <b>Modifications:</b>
        <span class="mods">None </span>
        <br />


    </div>
    <br clear="both" />
</div>

<div class="Image-Output-Zone">
    <div class="Image-Outputed">
        <img src="http://app.pawnokit.ru.swtest.ru/images/Vehicle_464.jpg" alt="" width="204" height="125">
    </div>
    <div class="Info-Outputed">
        <b>Vehicle Model ID: </b>
        <span class="id">464 </span>
        <br />

        <b>Vehicle Name:</b>
        <span class="vname">RC Baron </span>
        <br />

        <b>Category:</b>
        <span class="category">RC Vehicles </span>
        <br />

        <b>Modifications:</b>
        <span class="mods">None </span>
        <br />


    </div>
    <br clear="both" />
</div>

<div class="Image-Output-Zone">
    <div class="Image-Outputed">
        <img src="http://app.pawnokit.ru.swtest.ru/images/Vehicle_465.jpg" alt="" width="204" height="125">
    </div>
    <div class="Info-Outputed">
        <b>Vehicle Model ID: </b>
        <span class="id">465 </span>
        <br />

        <b>Vehicle Name:</b>
        <span class="vname">RC Raider </span>
        <br />

        <b>Category:</b>
        <span class="category">RC Vehicles </span>
        <br />

        <b>Modifications:</b>
        <span class="mods">None </span>
        <br />


    </div>
    <br clear="both" />
</div>

<div class="Image-Output-Zone">
    <div class="Image-Outputed">
        <img src="http://app.pawnokit.ru.swtest.ru/images/Vehicle_501.jpg" alt="" width="204" height="125">
    </div>
    <div class="Info-Outputed">
        <b>Vehicle Model ID: </b>
        <span class="id">501 </span>
        <br />

        <b>Vehicle Name:</b>
        <span class="vname">RC Goblin </span>
        <br />

        <b>Category:</b>
        <span class="category">RC Vehicles </span>
        <br />

        <b>Modifications:</b>
        <span class="mods">None </span>
        <br />


    </div>
    <br clear="both" />
</div>

<div class="Image-Output-Zone">
    <div class="Image-Outputed">
        <img src="http://app.pawnokit.ru.swtest.ru/images/Vehicle_564.jpg" alt="" width="204" height="125">
    </div>
    <div class="Info-Outputed">
        <b>Vehicle Model ID: </b>
        <span class="id">564 </span>
        <br />

        <b>Vehicle Name:</b>
        <span class="vname">RC Tiger </span>
        <br />

        <b>Category:</b>
        <span class="category">RC Vehicles </span>
        <br />

        <b>Modifications:</b>
        <span class="mods">None </span>
        <br />


    </div>
    <br clear="both" />
</div>

<div class="Image-Output-Zone">
    <div class="Image-Outputed">
        <img src="http://app.pawnokit.ru.swtest.ru/images/Vehicle_594.jpg" alt="" width="204" height="125">
    </div>
    <div class="Info-Outputed">
        <b>Vehicle Model ID: </b>
        <span class="id">594 </span>
        <br />

        <b>Vehicle Name:</b>
        <span class="vname">RC Cam </span>
        <br />

        <b>Category:</b>
        <span class="category">RC Vehicles </span>
        <br />

        <b>Modifications:</b>
        <span class="mods">None </span>
        <br />


    </div>
    <br clear="both" />
</div>

