

<div class="Image-Output-Zone">
    <div class="Image-Outputed">
        <img src="http://app.pawnokit.ru.swtest.ru/images/Vehicle_558.jpg" alt="" width="204" height="125">
    </div>
    <div class="Info-Outputed">
        <b>Vehicle Model ID: </b>
        <span class="id">558 </span>
        <br />

        <b>Vehicle Name:</b>
        <span class="vname">Uranus </span>
        <br />

        <b>Category:</b>
        <span class="category">Sport Vehicles </span>
        <br />

        <b>Modifications:</b>
        <span class="mods">Wheel Arch Angels </span>
        <br />


    </div>
    <br clear="both" />
</div>

<div class="Image-Output-Zone">
    <div class="Image-Outputed">
        <img src="http://app.pawnokit.ru.swtest.ru/images/Vehicle_559.jpg" alt="" width="204" height="125">
    </div>
    <div class="Info-Outputed">
        <b>Vehicle Model ID: </b>
        <span class="id">559 </span>
        <br />

        <b>Vehicle Name:</b>
        <span class="vname">Jester </span>
        <br />

        <b>Category:</b>
        <span class="category">Sport Vehicles </span>
        <br />

        <b>Modifications:</b>
        <span class="mods">Wheel Arch Angels </span>
        <br />


    </div>
    <br clear="both" />
</div>

<div class="Image-Output-Zone">
    <div class="Image-Outputed">
        <img src="http://app.pawnokit.ru.swtest.ru/images/Vehicle_560.jpg" alt="" width="204" height="125">
    </div>
    <div class="Info-Outputed">
        <b>Vehicle Model ID: </b>
        <span class="id">560 </span>
        <br />

        <b>Vehicle Name:</b>
        <span class="vname">Sultan </span>
        <br />

        <b>Category:</b>
        <span class="category">Saloons </span>
        <br />

        <b>Modifications:</b>
        <span class="mods">Wheel Arch Angels </span>
        <br />


    </div>
    <br clear="both" />
</div>

<div class="Image-Output-Zone">
    <div class="Image-Outputed">
        <img src="http://app.pawnokit.ru.swtest.ru/images/Vehicle_561.jpg" alt="" width="204" height="125">
    </div>
    <div class="Info-Outputed">
        <b>Vehicle Model ID: </b>
        <span class="id">561 </span>
        <br />

        <b>Vehicle Name:</b>
        <span class="vname">Stratum </span>
        <br />

        <b>Category:</b>
        <span class="category">Station Wagons </span>
        <br />

        <b>Modifications:</b>
        <span class="mods">Wheel Arch Angels </span>
        <br />


    </div>
    <br clear="both" />
</div>

<div class="Image-Output-Zone">
    <div class="Image-Outputed">
        <img src="http://app.pawnokit.ru.swtest.ru/images/Vehicle_562.jpg" alt="" width="204" height="125">
    </div>
    <div class="Info-Outputed">
        <b>Vehicle Model ID: </b>
        <span class="id">562 </span>
        <br />

        <b>Vehicle Name:</b>
        <span class="vname">Elegy </span>
        <br />

        <b>Category:</b>
        <span class="category">Saloons </span>
        <br />

        <b>Modifications:</b>
        <span class="mods">Wheel Arch Angels </span>
        <br />


    </div>
    <br clear="both" />
</div>

<div class="Image-Output-Zone">
    <div class="Image-Outputed">
        <img src="http://app.pawnokit.ru.swtest.ru/images/Vehicle_565.jpg" alt="" width="204" height="125">
    </div>
    <div class="Info-Outputed">
        <b>Vehicle Model ID: </b>
        <span class="id">565 </span>
        <br />

        <b>Vehicle Name:</b>
        <span class="vname">Flash </span>
        <br />

        <b>Category:</b>
        <span class="category">Sport Vehicles </span>
        <br />

        <b>Modifications:</b>
        <span class="mods">Wheel Arch Angels </span>
        <br />


    </div>
    <br clear="both" />
</div>

