В начало мода
<div class="code">#include &lt;zcmd&gt;</div>

В конец мода
<div class="code">
    <pre>
CMD:<span class="DatCmd">aduty</span>(playerid, params[]) 
{
    // Тело команды
    return 1;
}
</pre>
</div>
Скачать zcmd можно в PawnoKit в разделе "Библиотека".