
<div class="Image-Output-Zone">
    <div class="Image-Output-Zone">
        <div class="Image-Outputed">
            <img src="http://app.pawnokit.ru.swtest.ru/images/Skin_18.png" alt="" width="55" height="100">
        </div>
        <div class="Info-Outputed">
            <b>Skin ID: </b>
            <span class="id">18 </span>
            <br />

            <b>Skin Model Name:</b>
            <span class="model">bmybe </span>
            <br />

            <b>Skin Name/Type:</b>
            <span class="SNT">Beach Visitor </span>
            <br />

            <b>Singleplayer Location:</b>
            <span class="SPL">Beaches of SA </span>
            <br />

            <b>Gender:</b>
            <span class="gender">Male </span>
            <br />

        </div>
        <br clear="both" />
    </div>

    <div class="Image-Output-Zone">
        <div class="Image-Outputed">
            <img src="http://app.pawnokit.ru.swtest.ru/images/Skin_45.png" alt="" width="55" height="100">
        </div>
        <div class="Info-Outputed">
            <b>Skin ID: </b>
            <span class="id">45 </span>
            <br />

            <b>Skin Model Name:</b>
            <span class="model">hmybe </span>
            <br />

            <b>Skin Name/Type:</b>
            <span class="SNT">Beach Visitor </span>
            <br />

            <b>Singleplayer Location:</b>
            <span class="SPL">Beaches of SA </span>
            <br />

            <b>Gender:</b>
            <span class="gender">Male </span>
            <br />

        </div>
        <br clear="both" />
    </div>

    <div class="Image-Output-Zone">
        <div class="Image-Outputed">
            <img src="http://app.pawnokit.ru.swtest.ru/images/Skin_138.png" alt="" width="55" height="100">
        </div>
        <div class="Info-Outputed">
            <b>Skin ID: </b>
            <span class="id">138 </span>
            <br />

            <b>Skin Model Name:</b>
            <span class="model">wfybe </span>
            <br />

            <b>Skin Name/Type:</b>
            <span class="SNT">Beach Visitor </span>
            <br />

            <b>Singleplayer Location:</b>
            <span class="SPL">Beaches of SA </span>
            <br />

            <b>Gender:</b>
            <span class="gender">Female </span>
            <br />

        </div>
        <br clear="both" />
    </div>

    <div class="Image-Output-Zone">
        <div class="Image-Outputed">
            <img src="http://app.pawnokit.ru.swtest.ru/images/Skin_139.png" alt="" width="55" height="100">
        </div>
        <div class="Info-Outputed">
            <b>Skin ID: </b>
            <span class="id">139 </span>
            <br />

            <b>Skin Model Name:</b>
            <span class="model">bfybe </span>
            <br />

            <b>Skin Name/Type:</b>
            <span class="SNT">Beach Visitor </span>
            <br />

            <b>Singleplayer Location:</b>
            <span class="SPL">Beaches of SA </span>
            <br />

            <b>Gender:</b>
            <span class="gender">Female </span>
            <br />

        </div>
        <br clear="both" />
    </div>

    <div class="Image-Output-Zone">
        <div class="Image-Outputed">
            <img src="http://app.pawnokit.ru.swtest.ru/images/Skin_140.png" alt="" width="55" height="100">
        </div>
        <div class="Info-Outputed">
            <b>Skin ID: </b>
            <span class="id">140 </span>
            <br />

            <b>Skin Model Name:</b>
            <span class="model">hfybe </span>
            <br />

            <b>Skin Name/Type:</b>
            <span class="SNT">Beach Visitor </span>
            <br />

            <b>Singleplayer Location:</b>
            <span class="SPL">Beaches of SA </span>
            <br />

            <b>Gender:</b>
            <span class="gender">Female </span>
            <br />

        </div>
        <br clear="both" />
    </div>

    <div class="Image-Output-Zone">
        <div class="Image-Outputed">
            <img src="http://app.pawnokit.ru.swtest.ru/images/Skin_154.png" alt="" width="55" height="100">
        </div>
        <div class="Info-Outputed">
            <b>Skin ID: </b>
            <span class="id">154 </span>
            <br />

            <b>Skin Model Name:</b>
            <span class="model">wmybe </span>
            <br />

            <b>Skin Name/Type:</b>
            <span class="SNT">Beach Visitor </span>
            <br />

            <b>Singleplayer Location:</b>
            <span class="SPL">Beaches of SA </span>
            <br />

            <b>Gender:</b>
            <span class="gender">Male </span>
            <br />

        </div>
        <br clear="both" />
    </div>
</div>