
<div class="Image-Output-Zone">
    <div class="Image-Output-Zone">
        <div class="Image-Outputed">
            <img src="http://app.pawnokit.ru.swtest.ru/images/Skin_51.png" alt="" width="55" height="100">
        </div>
        <div class="Info-Outputed">
            <b>Skin ID: </b>
            <span class="id">51 </span>
            <br />

            <b>Skin Model Name:</b>
            <span class="model">bmymoun </span>
            <br />

            <b>Skin Name/Type:</b>
            <span class="SNT">Mountain Biker </span>
            <br />

            <b>Singleplayer Location:</b>
            <span class="SPL">San Andreas </span>
            <br />

            <b>Gender:</b>
            <span class="gender">Male </span>
            <br />

        </div>
        <br clear="both" />
    </div>

    <div class="Image-Output-Zone">
        <div class="Image-Outputed">
            <img src="http://app.pawnokit.ru.swtest.ru/images/Skin_52.png" alt="" width="55" height="100">
        </div>
        <div class="Info-Outputed">
            <b>Skin ID: </b>
            <span class="id">52 </span>
            <br />

            <b>Skin Model Name:</b>
            <span class="model">wmymoun </span>
            <br />

            <b>Skin Name/Type:</b>
            <span class="SNT">Mountain Biker </span>
            <br />

            <b>Singleplayer Location:</b>
            <span class="SPL">San Andreas </span>
            <br />

            <b>Gender:</b>
            <span class="gender">Male </span>
            <br />

        </div>
        <br clear="both" />
    </div>

    <div class="Image-Output-Zone">
        <div class="Image-Outputed">
            <img src="http://app.pawnokit.ru.swtest.ru/images/Skin_100.png" alt="" width="55" height="100">
        </div>
        <div class="Info-Outputed">
            <b>Skin ID: </b>
            <span class="id">100 </span>
            <br />

            <b>Skin Model Name:</b>
            <span class="model">wmycr </span>
            <br />

            <b>Skin Name/Type:</b>
            <span class="SNT">Biker </span>
            <br />

            <b>Singleplayer Location:</b>
            <span class="SPL">San Andreas </span>
            <br />

            <b>Gender:</b>
            <span class="gender">Male </span>
            <br />

        </div>
        <br clear="both" />
    </div>

    <div class="Image-Output-Zone">
        <div class="Image-Outputed">
            <img src="http://app.pawnokit.ru.swtest.ru/images/Skin_247.png" alt="" width="55" height="100">
        </div>
        <div class="Info-Outputed">
            <b>Skin ID: </b>
            <span class="id">247 </span>
            <br />

            <b>Skin Model Name:</b>
            <span class="model">bikera </span>
            <br />

            <b>Skin Name/Type:</b>
            <span class="SNT">Biker </span>
            <br />

            <b>Singleplayer Location:</b>
            <span class="SPL">San Andreas </span>
            <br />

            <b>Gender:</b>
            <span class="gender">Male </span>
            <br />

        </div>
        <br clear="both" />
    </div>

    <div class="Image-Output-Zone">
        <div class="Image-Outputed">
            <img src="http://app.pawnokit.ru.swtest.ru/images/Skin_248.png" alt="" width="55" height="100">
        </div>
        <div class="Info-Outputed">
            <b>Skin ID: </b>
            <span class="id">248 </span>
            <br />

            <b>Skin Model Name:</b>
            <span class="model">bikerb </span>
            <br />

            <b>Skin Name/Type:</b>
            <span class="SNT">Biker </span>
            <br />

            <b>Singleplayer Location:</b>
            <span class="SPL">San Andreas </span>
            <br />

            <b>Gender:</b>
            <span class="gender">Male </span>
            <br />

        </div>
        <br clear="both" />
    </div>

    <div class="Image-Output-Zone">
        <div class="Image-Outputed">
            <img src="http://app.pawnokit.ru.swtest.ru/images/Skin_254.png" alt="" width="55" height="100">
        </div>
        <div class="Info-Outputed">
            <b>Skin ID: </b>
            <span class="id">254 </span>
            <br />

            <b>Skin Model Name:</b>
            <span class="model">bikdrug </span>
            <br />

            <b>Skin Name/Type:</b>
            <span class="SNT">Biker Drug Dealer </span>
            <br />

            <b>Singleplayer Location:</b>
            <span class="SPL">San Andreas </span>
            <br />

            <b>Gender:</b>
            <span class="gender">Male </span>
            <br />

        </div>
        <br clear="both" />
    </div>
</div>
