
<div class="Image-Output-Zone">
    <div class="Image-Output-Zone">
        <div class="Image-Outputed">
            <img src="http://app.pawnokit.ru.swtest.ru/images/Skin_77.png" alt="" width="55" height="100">
        </div>
        <div class="Info-Outputed">
            <b>Skin ID: </b>
            <span class="id">77 </span>
            <br />

            <b>Skin Model Name:</b>
            <span class="model">swmotr1 </span>
            <br />

            <b>Skin Name/Type:</b>
            <span class="SNT">Homeless </span>
            <br />

            <b>Singleplayer Location:</b>
            <span class="SPL">San Andreas </span>
            <br />

            <b>Gender:</b>
            <span class="gender">Female </span>
            <br />

        </div>
        <br clear="both" />
    </div>

    <div class="Image-Output-Zone">
        <div class="Image-Outputed">
            <img src="http://app.pawnokit.ru.swtest.ru/images/Skin_78.png" alt="" width="55" height="100">
        </div>
        <div class="Info-Outputed">
            <b>Skin ID: </b>
            <span class="id">78 </span>
            <br />

            <b>Skin Model Name:</b>
            <span class="model">wmotr1 </span>
            <br />

            <b>Skin Name/Type:</b>
            <span class="SNT">Homeless </span>
            <br />

            <b>Singleplayer Location:</b>
            <span class="SPL">San Andreas </span>
            <br />

            <b>Gender:</b>
            <span class="gender">Male </span>
            <br />

        </div>
        <br clear="both" />
    </div>

    <div class="Image-Output-Zone">
        <div class="Image-Outputed">
            <img src="http://app.pawnokit.ru.swtest.ru/images/Skin_79.png" alt="" width="55" height="100">
        </div>
        <div class="Info-Outputed">
            <b>Skin ID: </b>
            <span class="id">79 </span>
            <br />

            <b>Skin Model Name:</b>
            <span class="model">bmotr1 </span>
            <br />

            <b>Skin Name/Type:</b>
            <span class="SNT">Homeless </span>
            <br />

            <b>Singleplayer Location:</b>
            <span class="SPL">San Andreas </span>
            <br />

            <b>Gender:</b>
            <span class="gender">Male </span>
            <br />

        </div>
        <br clear="both" />
    </div>

    <div class="Image-Output-Zone">
        <div class="Image-Outputed">
            <img src="http://app.pawnokit.ru.swtest.ru/images/Skin_134.png" alt="" width="55" height="100">
        </div>
        <div class="Info-Outputed">
            <b>Skin ID: </b>
            <span class="id">134 </span>
            <br />

            <b>Skin Model Name:</b>
            <span class="model">sbmotr2 </span>
            <br />

            <b>Skin Name/Type:</b>
            <span class="SNT">Homeless </span>
            <br />

            <b>Singleplayer Location:</b>
            <span class="SPL">San Andreas </span>
            <br />

            <b>Gender:</b>
            <span class="gender">Male </span>
            <br />

        </div>
        <br clear="both" />
    </div>

    <div class="Image-Output-Zone">
        <div class="Image-Outputed">
            <img src="http://app.pawnokit.ru.swtest.ru/images/Skin_135.png" alt="" width="55" height="100">
        </div>
        <div class="Info-Outputed">
            <b>Skin ID: </b>
            <span class="id">135 </span>
            <br />

            <b>Skin Model Name:</b>
            <span class="model">swmotr2 </span>
            <br />

            <b>Skin Name/Type:</b>
            <span class="SNT">Homeless </span>
            <br />

            <b>Singleplayer Location:</b>
            <span class="SPL">San Andreas </span>
            <br />

            <b>Gender:</b>
            <span class="gender">Male </span>
            <br />

        </div>
        <br clear="both" />
    </div>

    <div class="Image-Output-Zone">
        <div class="Image-Outputed">
            <img src="http://app.pawnokit.ru.swtest.ru/images/Skin_137.png" alt="" width="55" height="100">
        </div>
        <div class="Info-Outputed">
            <b>Skin ID: </b>
            <span class="id">137 </span>
            <br />

            <b>Skin Model Name:</b>
            <span class="model">swmotr3 </span>
            <br />

            <b>Skin Name/Type:</b>
            <span class="SNT">Homeless </span>
            <br />

            <b>Singleplayer Location:</b>
            <span class="SPL">San Andreas </span>
            <br />

            <b>Gender:</b>
            <span class="gender">Male </span>
            <br />

        </div>
        <br clear="both" />
    </div>

    <div class="Image-Output-Zone">
        <div class="Image-Outputed">
            <img src="http://app.pawnokit.ru.swtest.ru/images/Skin_212.png" alt="" width="55" height="100">
        </div>
        <div class="Info-Outputed">
            <b>Skin ID: </b>
            <span class="id">212 </span>
            <br />

            <b>Skin Model Name:</b>
            <span class="model">vwmotr1 </span>
            <br />

            <b>Skin Name/Type:</b>
            <span class="SNT">Homeless </span>
            <br />

            <b>Singleplayer Location:</b>
            <span class="SPL">San Andreas </span>
            <br />

            <b>Gender:</b>
            <span class="gender">Male </span>
            <br />

        </div>
        <br clear="both" />
    </div>

    <div class="Image-Output-Zone">
        <div class="Image-Outputed">
            <img src="http://app.pawnokit.ru.swtest.ru/images/Skin_230.png" alt="" width="55" height="100">
        </div>
        <div class="Info-Outputed">
            <b>Skin ID: </b>
            <span class="id">230 </span>
            <br />

            <b>Skin Model Name:</b>
            <span class="model">swmotr5 </span>
            <br />

            <b>Skin Name/Type:</b>
            <span class="SNT">Homeless </span>
            <br />

            <b>Singleplayer Location:</b>
            <span class="SPL">San Andreas </span>
            <br />

            <b>Gender:</b>
            <span class="gender">Male </span>
            <br />

        </div>
        <br clear="both" />
    </div>

    <div class="Image-Output-Zone">
        <div class="Image-Outputed">
            <img src="http://app.pawnokit.ru.swtest.ru/images/Skin_239.png" alt="" width="55" height="100">
        </div>
        <div class="Info-Outputed">
            <b>Skin ID: </b>
            <span class="id">239 </span>
            <br />

            <b>Skin Model Name:</b>
            <span class="model">swmotr4 </span>
            <br />

            <b>Skin Name/Type:</b>
            <span class="SNT">Homeless </span>
            <br />

            <b>Singleplayer Location:</b>
            <span class="SPL">San Andreas </span>
            <br />

            <b>Gender:</b>
            <span class="gender">Male </span>
            <br />

        </div>
        <br clear="both" />
    </div>
</div>
