

<div class="Image-Output-Zone">
    <div class="Image-Output-Zone">
        <div class="Image-Outputed">
            <img src="http://app.pawnokit.ru.swtest.ru/images/Skin_111.png" alt="" width="55" height="100">
        </div>
        <div class="Info-Outputed">
            <b>Skin ID: </b>
            <span class="id">111 </span>
            <br />

            <b>Skin Model Name:</b>
            <span class="model">maffa </span>
            <br />

            <b>Skin Name/Type:</b>
            <span class="SNT">The Russian Mafia </span>
            <br />

            <b>Singleplayer Location:</b>
            <span class="SPL">Around SA </span>
            <br />

            <b>Gender:</b>
            <span class="gender">Male </span>
            <br />

        </div>
        <br clear="both" />
    </div>

    <div class="Image-Output-Zone">
        <div class="Image-Outputed">
            <img src="http://app.pawnokit.ru.swtest.ru/images/Skin_112.png" alt="" width="55" height="100">
        </div>
        <div class="Info-Outputed">
            <b>Skin ID: </b>
            <span class="id">112 </span>
            <br />

            <b>Skin Model Name:</b>
            <span class="model">maffb </span>
            <br />

            <b>Skin Name/Type:</b>
            <span class="SNT">The Russian Mafia </span>
            <br />

            <b>Singleplayer Location:</b>
            <span class="SPL">Around SA </span>
            <br />

            <b>Gender:</b>
            <span class="gender">Male </span>
            <br />

        </div>
        <br clear="both" />
    </div>

    <div class="Image-Output-Zone">
        <div class="Image-Outputed">
            <img src="http://app.pawnokit.ru.swtest.ru/images/Skin_113.png" alt="" width="55" height="100">
        </div>
        <div class="Info-Outputed">
            <b>Skin ID: </b>
            <span class="id">113 </span>
            <br />

            <b>Skin Model Name:</b>
            <span class="model">mafboss </span>
            <br />

            <b>Skin Name/Type:</b>
            <span class="SNT">The Russian Mafia </span>
            <br />

            <b>Singleplayer Location:</b>
            <span class="SPL">Around SA </span>
            <br />

            <b>Gender:</b>
            <span class="gender">Male </span>
            <br />

        </div>
        <br clear="both" />
    </div>

    <div class="Image-Output-Zone">
        <div class="Image-Outputed">
            <img src="http://app.pawnokit.ru.swtest.ru/images/Skin_124.png" alt="" width="55" height="100">
        </div>
        <div class="Info-Outputed">
            <b>Skin ID: </b>
            <span class="id">124 </span>
            <br />

            <b>Skin Model Name:</b>
            <span class="model">vmaff1 </span>
            <br />

            <b>Skin Name/Type:</b>
            <span class="SNT">The Mafia </span>
            <br />

            <b>Singleplayer Location:</b>
            <span class="SPL">Las Venturas </span>
            <br />

            <b>Gender:</b>
            <span class="gender">Male </span>
            <br />

        </div>
        <br clear="both" />
    </div>

    <div class="Image-Output-Zone">
        <div class="Image-Outputed">
            <img src="http://app.pawnokit.ru.swtest.ru/images/Skin_125.png" alt="" width="55" height="100">
        </div>
        <div class="Info-Outputed">
            <b>Skin ID: </b>
            <span class="id">125 </span>
            <br />

            <b>Skin Model Name:</b>
            <span class="model">vmaff2 </span>
            <br />

            <b>Skin Name/Type:</b>
            <span class="SNT">The Mafia </span>
            <br />

            <b>Singleplayer Location:</b>
            <span class="SPL">Las Venturas </span>
            <br />

            <b>Gender:</b>
            <span class="gender">Male </span>
            <br />

        </div>
        <br clear="both" />
    </div>

    <div class="Image-Output-Zone">
        <div class="Image-Outputed">
            <img src="http://app.pawnokit.ru.swtest.ru/images/Skin_126.png" alt="" width="55" height="100">
        </div>
        <div class="Info-Outputed">
            <b>Skin ID: </b>
            <span class="id">126 </span>
            <br />

            <b>Skin Model Name:</b>
            <span class="model">vmaff3 </span>
            <br />

            <b>Skin Name/Type:</b>
            <span class="SNT">The Mafia </span>
            <br />

            <b>Singleplayer Location:</b>
            <span class="SPL">Las Venturas </span>
            <br />

            <b>Gender:</b>
            <span class="gender">Male </span>
            <br />

        </div>
        <br clear="both" />
    </div>

    <div class="Image-Output-Zone">
        <div class="Image-Outputed">
            <img src="http://app.pawnokit.ru.swtest.ru/images/Skin_127.png" alt="" width="55" height="100">
        </div>
        <div class="Info-Outputed">
            <b>Skin ID: </b>
            <span class="id">127 </span>
            <br />

            <b>Skin Model Name:</b>
            <span class="model">vmaff4 </span>
            <br />

            <b>Skin Name/Type:</b>
            <span class="SNT">The Mafia </span>
            <br />

            <b>Singleplayer Location:</b>
            <span class="SPL">Las Venturas </span>
            <br />

            <b>Gender:</b>
            <span class="gender">Male </span>
            <br />

        </div>
        <br clear="both" />
    </div>

    <div class="Image-Output-Zone">
        <div class="Image-Outputed">
            <img src="http://app.pawnokit.ru.swtest.ru/images/Skin_272.png" alt="" width="55" height="100">
        </div>
        <div class="Info-Outputed">
            <b>Skin ID: </b>
            <span class="id">272 </span>
            <br />

            <b>Skin Model Name:</b>
            <span class="model">forelli </span>
            <br />

            <b>Skin Name/Type:</b>
            <span class="SNT">Mafia Boss </span>
            <br />

            <b>Singleplayer Location:</b>
            <span class="SPL">Los Santos </span>
            <br />

            <b>Gender:</b>
            <span class="gender">Male </span>
            <br />

        </div>
        <br clear="both" />
    </div>
</div>