@{
    ViewBag.Title = "Home Page";
}


<style>
    #pk-quote{
        text-align: right;
        color: gray;
    }

    #pk-images {
        margin-top: 10px;
        text-align:center;
    }

    p#pk-title {
        margin: 5px auto 0px auto;
        padding: 5px;
        text-align: center;
        font-size: 25px; 
    }

    #pk-switch-language a{
        display: block;
    }
    
    #pk-switch-language a img{
        float:right;
        height: 16px;
    }

    .news{
        margin: 10px 5px 10px 5px;
        font-weight: bold;
        font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
        font-size: 11px;
        min-height: 62px;
    }

    .news .n-image{
        content:url('//app.pawnokit.ru/assets/components/phpthumbof/cache/w256h256138021415102.94f21b45a478b2a68b0eefceeca9dba91.png');
    }

    .news .n-title{
        font-weight: bold;
        padding: 2px 2px 4px 0px;
    }

    .news .n-prevtext{
        margin-left: 80px;
        display: block;
        font-weight: normal;
    }

    .news .n-text{
        font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
        font-size: 11px;
        display: block;
        color: #777777;
    }

    .news .n-footer{
        border-bottom: 1px solid #EDEDED;
        padding: 7px;
        background: #FFFFFF;
    }

    .news .n-postdate{
        font-size: 8px;
        font-weight: normal;
        display: inline;
        margin-left: 5px;
    }

    .news .n-image{
        clear: left;
        float: left;
        max-height:58px;
        border: 1px solid gray;
        padding: 2px; 
        max-width: 100px;
    }

    .news .annotation{
        font-size: 10px;
        font-weight: bold;
    }

    .news ul li{
        list-style-type:none;
    }
</style>

<div id="pk-images">
    <img src="http://app.pawnokit.ru/images/v2_logo_washed.gif" width="200" height="200" />
    <img src="http://app.pawnokit.ru/images/vkview.png" style="margin-left: 11px;" width="300" height="199" />
</div>

<p id="pk-title">PawnoKit</p>

<blockquote id="pk-quote">Все для скриптинга,<br />Всегда под рукой</blockquote>

<div id="pk-switch-language">
    <a href="https://app.pawnokit.ru/en/">
        <img src="http://app.pawnokit.ru/United-Kingdom.png" title="English Language" />
    </a>
    <a href="https://app.pawnokit.ru/">
        <img src="http://app.pawnokit.ru/Russia.png" title="Russian Language" />
    </a>
</div>

<article class="news">
    <aside>
        <img class="n-image" />
    </aside>
    <section class="n-prevtext">
        <header class="n-title">
            <a href="#">Переезд новостей PawnoKit</a>
            <div class="n-postdate">
                <span class="day">19</span>
                <span class="month">Aug</span>
                <span class="year">2014</span>
            </div>
        </header>
        <span class="annotation">Работа над первой версией PawnoKit завершена</span>
        <article class="n-text">
            <p>Новости PawnoKit переезжают, и будут публиковаться в данной теме:<br /><a href="http://vk.com/topic-58723216_29600061" class="external" target="_blank">vk.com/topic-58723216_29600061</a></p>
            <p>А также на стене паблика Типичный Скриптер</p>
            <p><a href="http://vk.com/ts_samp" class="external" target="external">vk.com/ts_samp</a></p>
        </article>
        <footer class="n-footer" />
    </section>
</article>