@{
    ViewBag.Title = "Главная";
}

<div id="pk-images">
    <img src="~/Content/Images/v2_logo_washed.gif" width="200" height="200" />
    <img src="~/Content/Pages/Index/images/vkview.png" style="margin-left: 11px;" width="300" height="199" />
</div>

<p id="pk-title">PawnoKit</p>

<blockquote id="pk-quote">Все для скриптинга,<br />Всегда под рукой</blockquote>

<div id="module"></div>

<div id="pk-switch-language">

    @*<a href="@Url.Action("Index", "en")" class="external">
        <img src="~/Content/Pages/Index/images/United-Kingdom.png" title="English Language" />
    </a>*@
    <a href="@Url.Action("Index", "ru")" class="external">
        <img src="~/Content/Pages/Index/images/Russia.png" title="Russian Language" />
    </a>
</div>

<!--
<article class="news">
    <aside>
        <img class="n-image" src="//app.pawnokit.ru.swtest.ru/assets/components/phpthumbof/cache/w256h256138021415102.94f21b45a478b2a68b0eefceeca9dba91.png"/>
    </aside>
    <section class="n-prevtext">
        <header class="n-title">
            <a href="#">Переезд новостей PawnoKit</a>
            <div class="n-postdate">
                <span class="day">19</span>
                <span class="month">Aug</span>
                <span class="year">2014</span>
            </div>
        </header>
        <span class="annotation">Работа над первой версией PawnoKit завершена</span>
        <article class="n-text">
            <p>Новости PawnoKit переезжают, и будут публиковаться в данной теме:<br /><a href="http://vk.com/topic-58723216_29600061" class="external" target="_blank">vk.com/topic-58723216_29600061</a></p>
            <p>А также на стене паблика Типичный Скриптер</p>
            <p><a href="http://vk.com/ts_samp" class="external" target="external">vk.com/ts_samp</a></p>
        </article>
        <footer class="n-footer" />
    </section>
</article>
-->
<!-- VK Widget -->

<div id="vk_groups"></div>
<script type="text/javascript">
    VK.Widgets.Group("vk_groups", { mode: 2, wide: 1, width: "auto", height: 400 }, 75966731);
</script>