
@{
    ViewBag.Title = "Иконки на карте";
}

<table border="1" cellspacing="0" cellpadding="5">

    <tr>
        <th>
            <b>ID</b>
        </th>
        <th>
            <b>Icon</b>
        </th>
        <th>
            <b>Name</b>
        </th>
        <th>
            <b>Notes</b>
        </th>
    </tr>
    <tr>
        <td>
            0
        </td>
        <td>
            <img src="http://wiki.sa-mp.com/wroot/images2/8/81/Icon_0.gif" alt="" width="16" height="16" />
        </td>
        <td>
            Colored Square/Triangle (Dynamic)
        </td>
        <td>
            <i>Может принимать любой цвет</i>
        </td>
    </tr>
    <tr>
        <td>
            1
        </td>
        <td>
            <img style="border: 1px solid black;" src="http://wiki.sa-mp.com/wroot/images2/7/7f/Icon_1.gif" alt="" width="16" height="16" />
        </td>
        <td>
            White Square <span class="redstar">*</span>
        </td>
        <td>
            <i>В два раза больше чем ID 0 и не имеет барьеров <br />(в PawnoKit барьеры есть)</i>
        </td>
    </tr>
    <tr>
        <td>
            2
        </td>
        <td>
            <img src="http://wiki.sa-mp.com/wroot/images2/a/ad/Icon_2.gif" alt="" width="16" height="16" />
        </td>
        <td>
            Player Position <span class="redstar">*</span>
        </td>
        <td>
            <i>Будет использоваться на миникарте по-умолчанию</i>
        </td>
    </tr>
    <tr>
        <td>
            3
        </td>
        <td>
            <img src="http://wiki.sa-mp.com/wroot/images2/3/3e/Icon_3.gif" alt="" width="16" height="16" />
        </td>
        <td>
            Player (Menu Map)
        </td>
        <td>
            <i>Ваша позиция на большой карте</i>
        </td>
    </tr>
    <tr>
        <td>
            4
        </td>
        <td>
            <img src="http://wiki.sa-mp.com/wroot/images2/4/4e/Icon_4.gif" alt="" width="16" height="16" />
        </td>
        <td>
            North <span class="redstar">*</span>
        </td>
        <td>
            <i>Всегда отображается на радаре как направление на север</i>
        </td>
    </tr>
    <tr>
        <td>
            5
        </td>
        <td>
            <img src="http://wiki.sa-mp.com/wroot/images2/9/9c/Icon_5.gif" alt="" width="16" height="16" />
        </td>
        <td>
            Air Yard
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            6
        </td>
        <td>
            <img src="http://wiki.sa-mp.com/wroot/images2/e/e7/Icon_6.gif" alt="" width="16" height="16" />
        </td>
        <td>
            Ammunation
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            7
        </td>
        <td>
            <img src="http://wiki.sa-mp.com/wroot/images2/f/f1/Icon_7.gif" alt="" width="16" height="16" />
        </td>
        <td>
            Barber
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            8
        </td>
        <td>
            <img src="http://wiki.sa-mp.com/wroot/images2/f/f8/Icon_8.gif" alt="" width="16" height="16" />
        </td>
        <td>
            Big Smoke
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            9
        </td>
        <td>
            <img src="http://wiki.sa-mp.com/wroot/images2/2/27/Icon_9.gif" alt="" width="16" height="16" />
        </td>
        <td>
            Boat Yard
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            10
        </td>
        <td>
            <img src="http://wiki.sa-mp.com/wroot/images2/0/0e/Icon_10.gif" alt="" width="16" height="16" />
        </td>
        <td>
            Burger Shot
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            11
        </td>
        <td>
            <img src="http://wiki.sa-mp.com/wroot/images2/5/5b/Icon_11.gif" alt="" width="16" height="16" />
        </td>
        <td>
            Quarry
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            12
        </td>
        <td>
            <img src="http://wiki.sa-mp.com/wroot/images2/6/6c/Icon_12.gif" alt="" width="16" height="16" />
        </td>
        <td>
            Catalina
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            13
        </td>
        <td>
            <img src="http://wiki.sa-mp.com/wroot/images2/a/a2/Icon_13.gif" alt="" width="16" height="16" />
        </td>
        <td>
            Cesar
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            14
        </td>
        <td>
            <img src="http://wiki.sa-mp.com/wroot/images2/6/6d/Icon_14.gif" alt="" width="16" height="16" />
        </td>
        <td>
            Cluckin' Bell
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            15
        </td>
        <td>
            <img src="http://wiki.sa-mp.com/wroot/images2/7/78/Icon_15.gif" alt="" width="16" height="16" />
        </td>
        <td>
            Carl Johnson
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            16
        </td>
        <td>
            <img src="http://wiki.sa-mp.com/wroot/images2/a/a3/Icon_16.gif" alt="" width="16" height="16" />
        </td>
        <td>
            C.R.A.S.H
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            17
        </td>
        <td>
            <img src="http://wiki.sa-mp.com/wroot/images2/f/ff/Icon_17.gif" alt="" width="16" height="16" />
        </td>
        <td>
            Diner
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            18
        </td>
        <td>
            <img src="http://wiki.sa-mp.com/wroot/images2/6/61/Icon_18.gif" alt="" width="16" height="16" />
        </td>
        <td>
            Emmet
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            19
        </td>
        <td>
            <img src="http://wiki.sa-mp.com/wroot/images2/3/3c/Icon_19.gif" alt="" width="16" height="16" />
        </td>
        <td>
            Enemy Attack
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            20
        </td>
        <td>
            <img src="http://wiki.sa-mp.com/wroot/images2/0/03/Icon_20.gif" alt="" width="16" height="16" />
        </td>
        <td>
            Fire
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            21
        </td>
        <td>
            <img src="http://wiki.sa-mp.com/wroot/images2/7/74/Icon_21.gif" alt="" width="16" height="16" />
        </td>
        <td>
            Girlfriend
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            22
        </td>
        <td>
            <img src="http://wiki.sa-mp.com/wroot/images2/7/73/Icon_22.gif" alt="" width="16" height="16" />
        </td>
        <td>
            Hospital
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            23
        </td>
        <td>
            <img src="http://wiki.sa-mp.com/wroot/images2/a/a7/Icon_23.gif" alt="" width="16" height="16" />
        </td>
        <td>
            Loco
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            24
        </td>
        <td>
            <img src="http://wiki.sa-mp.com/wroot/images2/c/c7/Icon_24.gif" alt="" width="16" height="16" />
        </td>
        <td>
            Madd Dogg
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            25
        </td>
        <td>
            <img src="http://wiki.sa-mp.com/wroot/images2/b/b9/Icon_25.gif" alt="" width="16" height="16" />
        </td>
        <td>
            Caligulas
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            26
        </td>
        <td>
            <img src="http://wiki.sa-mp.com/wroot/images2/1/19/Icon_26.gif" alt="" width="16" height="16" />
        </td>
        <td>
            OG Loc
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            27
        </td>
        <td>
            <img src="http://wiki.sa-mp.com/wroot/images2/3/31/Icon_27.gif" alt="" width="16" height="16" />
        </td>
        <td>
            Mod garage
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            28
        </td>
        <td>
            <img src="http://wiki.sa-mp.com/wroot/images2/8/83/Icon_28.gif" alt="" width="16" height="16" />
        </td>
        <td>
            OG Loc
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            29
        </td>
        <td>
            <img src="http://wiki.sa-mp.com/wroot/images2/6/68/Icon_29.gif" alt="" width="16" height="16" />
        </td>
        <td>
            Well Stacked Pizza Co
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            30
        </td>
        <td>
            <img src="http://wiki.sa-mp.com/wroot/images2/a/a0/Icon_30.gif" alt="" width="16" height="16" />
        </td>
        <td>
            Police
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            31
        </td>
        <td>
            <img src="http://wiki.sa-mp.com/wroot/images2/b/b6/Icon_31.gif" alt="" width="16" height="16" />
        </td>
        <td>
            Property
        </td>
        <td>
            <i>Собственность доступна для покупки</i>
        </td>
    </tr>
    <tr>
        <td>
            32
        </td>
        <td>
            <img src="http://wiki.sa-mp.com/wroot/images2/a/a9/Icon_32.gif" alt="" width="16" height="16" />
        </td>
        <td>
            Property
        </td>
        <td>
            <i>Собственность недоступна для покупки</i>
        </td>
    </tr>
    <tr>
        <td>
            33
        </td>
        <td>
            <img src="http://wiki.sa-mp.com/wroot/images2/1/1a/Icon_33.gif" alt="" width="16" height="16" />
        </td>
        <td>
            Race
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            34
        </td>
        <td>
            <img src="http://wiki.sa-mp.com/wroot/images2/f/f0/Icon_34.gif" alt="" width="16" height="16" />
        </td>
        <td>
            Ryder
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            35
        </td>
        <td>
            <img src="http://wiki.sa-mp.com/wroot/images2/4/41/Icon_35.gif" alt="" width="16" height="16" />
        </td>
        <td>
            Save Game
        </td>
        <td>
            <i>В одиночной игре используется для мест сохранения</i>
        </td>
    </tr>
    <tr>
        <td>
            36
        </td>
        <td>
            <img src="http://wiki.sa-mp.com/wroot/images2/7/7b/Icon_36.gif" alt="" width="16" height="16" />
        </td>
        <td>
            School
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            37
        </td>
        <td>
            <img src="http://wiki.sa-mp.com/wroot/images2/2/24/Icon_37.gif" alt="" width="16" height="16" />
        </td>
        <td>
            Unknown
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            38
        </td>
        <td>
            <img src="http://wiki.sa-mp.com/wroot/images2/0/06/Icon_38.gif" alt="" width="16" height="16" />
        </td>
        <td>
            Sweet
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            39
        </td>
        <td>
            <img src="http://wiki.sa-mp.com/wroot/images2/7/78/Icon_39.gif" alt="" width="16" height="16" />
        </td>
        <td>
            Tattoo
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            40
        </td>
        <td>
            <img src="http://wiki.sa-mp.com/wroot/images2/c/ce/Icon_40.gif" alt="" width="16" height="16" />
        </td>
        <td>
            The Truth
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            41
        </td>
        <td>
            <img src="http://wiki.sa-mp.com/wroot/images2/4/48/Icon_41.gif" alt="" width="16" height="16" />
        </td>
        <td>
            Waypoint
        </td>
        <td>
            <i>Может быть размещен игроком на карте путем правого клика</i>
        </td>
    </tr>
    <tr>
        <td>
            42
        </td>
        <td>
            <img src="http://wiki.sa-mp.com/wroot/images2/7/71/Icon_42.gif" alt="" width="16" height="16" />
        </td>
        <td>
            Toreno
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            43
        </td>
        <td>
            <img src="http://wiki.sa-mp.com/wroot/images2/a/a2/Icon_43.gif" alt="" width="16" height="16" />
        </td>
        <td>
            Triads
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            44
        </td>
        <td>
            <img src="http://wiki.sa-mp.com/wroot/images2/b/bb/Icon_44.gif" alt="" width="16" height="16" />
        </td>
        <td>
            Triads Casino
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            45
        </td>
        <td>
            <img src="http://wiki.sa-mp.com/wroot/images2/9/9d/Icon_45.gif" alt="" width="16" height="16" />
        </td>
        <td>
            Clothes
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            46
        </td>
        <td>
            <img src="http://wiki.sa-mp.com/wroot/images2/a/af/Icon_46.gif" alt="" width="16" height="16" />
        </td>
        <td>
            Woozie
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            47
        </td>
        <td>
            <img src="http://wiki.sa-mp.com/wroot/images2/1/18/Icon_47.gif" alt="" width="16" height="16" />
        </td>
        <td>
            Zero
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            48
        </td>
        <td>
            <img src="http://wiki.sa-mp.com/wroot/images2/7/72/Icon_48.gif" alt="" width="16" height="16" />
        </td>
        <td>
            Club
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            49
        </td>
        <td>
            <img src="http://wiki.sa-mp.com/wroot/images2/a/a4/Icon_49.gif" alt="" width="16" height="16" />
        </td>
        <td>
            Bar
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            50
        </td>
        <td>
            <img src="http://wiki.sa-mp.com/wroot/images2/3/3a/Icon_50.gif" alt="" width="16" height="16" />
        </td>
        <td>
            Restaurant
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            51
        </td>
        <td>
            <img src="http://wiki.sa-mp.com/wroot/images2/d/d3/Icon_51.gif" alt="" width="16" height="16" />
        </td>
        <td>
            Truck
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            52
        </td>
        <td>
            <img src="http://wiki.sa-mp.com/wroot/images2/6/61/Icon_52.gif" alt="" width="16" height="16" />
        </td>
        <td>
            Robbery
        </td>
        <td>
            <i>Зачастую используется для банков</i>
        </td>
    </tr>
    <tr>
        <td>
            53
        </td>
        <td>
            <img src="http://wiki.sa-mp.com/wroot/images2/d/d8/Icon_53.gif" alt="" width="16" height="16" />
        </td>
        <td>
            Race
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            54
        </td>
        <td>
            <img src="http://wiki.sa-mp.com/wroot/images2/b/b6/Icon_54.gif" alt="" width="16" height="16" />
        </td>
        <td>
            Gym
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            55
        </td>
        <td>
            <img src="http://wiki.sa-mp.com/wroot/images2/5/58/Icon_55.gif" alt="" width="16" height="16" />
        </td>
        <td>
            Car
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            56
        </td>
        <td>
            <img src="http://wiki.sa-mp.com/wroot/images2/1/15/Icon_56.gif" alt="" width="16" height="16" />
        </td>
        <td>
            Light <span class="redstar">*</span>
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            57
        </td>
        <td>
            <img src="http://wiki.sa-mp.com/wroot/images2/5/53/Icon_57.gif" alt="" width="16" height="16" />
        </td>
        <td>
            Closest airport
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            58
        </td>
        <td>
            <img src="http://wiki.sa-mp.com/wroot/images2/b/bc/Icon_58.gif" alt="" width="16" height="16" />
        </td>
        <td>
            Varrios Los Aztecas
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            59
        </td>
        <td>
            <img src="http://wiki.sa-mp.com/wroot/images2/3/32/Icon_59.gif" alt="" width="16" height="16" />
        </td>
        <td>
            Ballas
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            60
        </td>
        <td>
            <img src="http://wiki.sa-mp.com/wroot/images2/8/8c/Icon_60.gif" alt="" width="16" height="16" />
        </td>
        <td>
            Los Santos Vagos
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            61
        </td>
        <td>
            <img src="http://wiki.sa-mp.com/wroot/images2/7/7c/Icon_61.gif" alt="" width="16" height="16" />
        </td>
        <td>
            San Fierro Rifa
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            62
        </td>
        <td>
            <img src="http://wiki.sa-mp.com/wroot/images2/1/11/Icon_62.gif" alt="" width="16" height="16" />
        </td>
        <td>
            Grove street
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            63
        </td>
        <td>
            <img src="http://wiki.sa-mp.com/wroot/images2/d/db/Icon_63.gif" alt="" width="16" height="16" />
        </td>
        <td>
            Pay 'n' Spray
        </td>
        <td></td>
    </tr>
</table>

<br />
<span class="redstar">*</span> Произойдет краш игры, если легеда карты включена, и эта иконка будет показываться на карте (в режиме просмотра карты в ESC). Не рекомеднуется использовать эти иконки.

