
@{
    ViewBag.Title = "Покрасочные работы";
}

<div id="GufZone">
    <div style="width: 600px; margin-bottom: 10px;">
        <div style="float: left; width: 210px; padding-left: 7px; border-right: 2px solid #E3E7FF;">
            <p>
                <img src="http://gta-news.org/images/wiki/samp/paintjobs/VehiclePaintjob_Camper_0.png" alt="VehiclePaintjob_Camper_0.png" />
            </p>
        </div>
        <div style="float: left; width: 300px; padding-left: 10px;">
            <p>
                <b>Paintjob ID</b>: 0<br />
                <b>Vehicle's ownership</b>: Camper<br />
                <b>Color</b>: Default (without custom color)<br />
                <b>Can add in Single Player</b>: No<br />
            </p>
        </div><br clear="both" />
        <div style="float: left; width: 210px; padding-left: 7px; border-right: 2px solid #E3E7FF;">
            <p>
                <img src="http://gta-news.org/images/wiki/samp/paintjobs/VehiclePaintjob_Remington_0.png" alt="VehiclePaintjob_Remington_0.png" />
            </p>
        </div>
        <div style="float: left; width: 300px; padding-left: 10px;">
            <p>
                <b>Paintjob ID</b>: 0<br />
                <b>Vehicle's ownership</b>: Remington<br />
                <b>Color</b>: Default (without custom color)<br />
                <b>Can add in Single Player</b>: Yes<br />
            </p>
        </div><br clear="both" />
        <div style="float: left; width: 210px; padding-left: 7px; border-right: 2px solid #E3E7FF;">
            <p>
                <img src="http://gta-news.org/images/wiki/samp/paintjobs/VehiclePaintjob_Remington_1.png" alt="VehiclePaintjob_Remington_1.png" />
            </p>
        </div>
        <div style="float: left; width: 300px; padding-left: 10px;">
            <p>
                <b>Paintjob ID</b>: 1<br />
                <b>Vehicle's ownership</b>: Remington<br />
                <b>Color</b>: Default (without custom color)<br />
                <b>Can add in Single Player</b>: Yes<br />
            </p>
        </div><br clear="both" />
        <div style="float: left; width: 210px; padding-left: 7px; border-right: 2px solid #E3E7FF;">
            <p>
                <img src="http://gta-news.org/images/wiki/samp/paintjobs/VehiclePaintjob_Remington_2.png" alt="VehiclePaintjob_Remington_2.png" />
            </p>
        </div>
        <div style="float: left; width: 300px; padding-left: 10px;">
            <p>
                <b>Paintjob ID</b>: 2<br />
                <b>Vehicle's ownership</b>: Remington<br />
                <b>Color</b>: Default (without custom color)<br />
                <b>Can add in Single Player</b>: Yes<br />
            </p>
        </div><br clear="both" />
        <div style="float: left; width: 210px; padding-left: 7px; border-right: 2px solid #E3E7FF;">
            <p>
                <img src="http://gta-news.org/images/wiki/samp/paintjobs/VehiclePaintjob_Slamvan_0.png" alt="VehiclePaintjob_Slamvan_0.png" />
            </p>
        </div>
        <div style="float: left; width: 300px; padding-left: 10px;">
            <p>
                <b>Paintjob ID</b>: 0<br />
                <b>Vehicle's ownership</b>: Slamvan<br />
                <b>Color</b>: Default (without custom color)<br />
                <b>Can add in Single Player</b>: Yes<br />
            </p>
        </div><br clear="both" />
        <div style="float: left; width: 210px; padding-left: 7px; border-right: 2px solid #E3E7FF;">
            <p>
                <img src="http://gta-news.org/images/wiki/samp/paintjobs/VehiclePaintjob_Slamvan_1.png" alt="VehiclePaintjob_Slamvan_1.png" />
            </p>
        </div>
        <div style="float: left; width: 300px; padding-left: 10px;">
            <p>
                <b>Paintjob ID</b>: 1<br />
                <b>Vehicle's ownership</b>: Slamvan<br />
                <b>Color</b>: Default (without custom color)<br />
                <b>Can add in Single Player</b>: Yes<br />
            </p>
        </div><br clear="both" />
        <div style="float: left; width: 210px; padding-left: 7px; border-right: 2px solid #E3E7FF;">
            <p>
                <img src="http://gta-news.org/images/wiki/samp/paintjobs/VehiclePaintjob_Slamvan_2.png" alt="VehiclePaintjob_Slamvan_2.png" />
            </p>
        </div>
        <div style="float: left; width: 300px; padding-left: 10px;">
            <p>
                <b>Paintjob ID</b>: 2<br />
                <b>Vehicle's ownership</b>: Slamvan<br />
                <b>Color</b>: Default (without custom color)<br />
                <b>Can add in Single Player</b>: Yes<br />
            </p>
        </div><br clear="both" />
        <div style="float: left; width: 210px; padding-left: 7px; border-right: 2px solid #E3E7FF;">
            <p>
                <img src="http://gta-news.org/images/wiki/samp/paintjobs/VehiclePaintjob_Blade_0.png" alt="VehiclePaintjob_Blade_0.png" />
            </p>
        </div>
        <div style="float: left; width: 300px; padding-left: 10px;">
            <p>
                <b>Paintjob ID</b>: 0<br />
                <b>Vehicle's ownership</b>: Blade<br />
                <b>Color</b>: Default (without custom color)<br />
                <b>Can add in Single Player</b>: Yes<br />
            </p>
        </div><br clear="both" />
        <div style="float: left; width: 210px; padding-left: 7px; border-right: 2px solid #E3E7FF;">
            <p>
                <img src="http://gta-news.org/images/wiki/samp/paintjobs/VehiclePaintjob_Blade_1.png" alt="VehiclePaintjob_Blade_1.png" />
            </p>
        </div>
        <div style="float: left; width: 300px; padding-left: 10px;">
            <p>
                <b>Paintjob ID</b>: 1<br />
                <b>Vehicle's ownership</b>: Blade<br />
                <b>Color</b>: Default (without custom color)<br />
                <b>Can add in Single Player</b>: Yes<br />
            </p>
        </div><br clear="both" />
        <div style="float: left; width: 210px; padding-left: 7px; border-right: 2px solid #E3E7FF;">
            <p>
                <img src="http://gta-news.org/images/wiki/samp/paintjobs/VehiclePaintjob_Blade_2.png" alt="VehiclePaintjob_Blade_2.png" />
            </p>
        </div>
        <div style="float: left; width: 300px; padding-left: 10px;">
            <p>
                <b>Paintjob ID</b>: 2<br />
                <b>Vehicle's ownership</b>: Blade<br />
                <b>Color</b>: Default (without custom color)<br />
                <b>Can add in Single Player</b>: Yes<br />
            </p>
        </div><br clear="both" />
        <div style="float: left; width: 210px; padding-left: 7px; border-right: 2px solid #E3E7FF;">
            <p>
                <img src="http://gta-news.org/images/wiki/samp/paintjobs/VehiclePaintjob_Uranus_0.png" alt="VehiclePaintjob_Uranus_0.png" />
            </p>
        </div>
        <div style="float: left; width: 300px; padding-left: 10px;">
            <p>
                <b>Paintjob ID</b>: 0<br />
                <b>Vehicle's ownership</b>: Uranus<br />
                <b>Color</b>: Default (without custom color)<br />
                <b>Can add in Single Player</b>: Yes<br />
            </p>
        </div><br clear="both" />
        <div style="float: left; width: 210px; padding-left: 7px; border-right: 2px solid #E3E7FF;">
            <p>
                <img src="http://gta-news.org/images/wiki/samp/paintjobs/VehiclePaintjob_Uranus_1.png" alt="VehiclePaintjob_Uranus_1.png" />
            </p>
        </div>
        <div style="float: left; width: 300px; padding-left: 10px;">
            <p>
                <b>Paintjob ID</b>: 1<br />
                <b>Vehicle's ownership</b>: Uranus<br />
                <b>Color</b>: Default (without custom color)<br />
                <b>Can add in Single Player</b>: Yes<br />
            </p>
        </div><br clear="both" />
        <div style="float: left; width: 210px; padding-left: 7px; border-right: 2px solid #E3E7FF;">
            <p>
                <img src="http://gta-news.org/images/wiki/samp/paintjobs/VehiclePaintjob_Uranus_2.png" alt="VehiclePaintjob_Uranus_2.png" />
            </p>
        </div>
        <div style="float: left; width: 300px; padding-left: 10px;">
            <p>
                <b>Paintjob ID</b>: 2<br />
                <b>Vehicle's ownership</b>: Uranus<br />
                <b>Color</b>: Default (without custom color)<br />
                <b>Can add in Single Player</b>: Yes<br />
            </p>
        </div><br clear="both" />
        <div style="float: left; width: 210px; padding-left: 7px; border-right: 2px solid #E3E7FF;">
            <p>
                <img src="http://gta-news.org/images/wiki/samp/paintjobs/VehiclePaintjob_Jester_0.png" alt="VehiclePaintjob_Jester_0.png" />
            </p>
        </div>
        <div style="float: left; width: 300px; padding-left: 10px;">
            <p>
                <b>Paintjob ID</b>: 0<br />
                <b>Vehicle's ownership</b>: Jester<br />
                <b>Color</b>: Default (without custom color)<br />
                <b>Can add in Single Player</b>: Yes<br />
            </p>
        </div><br clear="both" />
        <div style="float: left; width: 210px; padding-left: 7px; border-right: 2px solid #E3E7FF;">
            <p>
                <img src="http://gta-news.org/images/wiki/samp/paintjobs/VehiclePaintjob_Jester_1.png" alt="VehiclePaintjob_Jester_1.png" />
            </p>
        </div>
        <div style="float: left; width: 300px; padding-left: 10px;">
            <p>
                <b>Paintjob ID</b>: 1<br />
                <b>Vehicle's ownership</b>: Jester<br />
                <b>Color</b>: Default (without custom color)<br />
                <b>Can add in Single Player</b>: Yes<br />
            </p>
        </div><br clear="both" />
        <div style="float: left; width: 210px; padding-left: 7px; border-right: 2px solid #E3E7FF;">
            <p>
                <img src="http://gta-news.org/images/wiki/samp/paintjobs/VehiclePaintjob_Jester_2.png" alt="VehiclePaintjob_Jester_2.png" />
            </p>
        </div>
        <div style="float: left; width: 300px; padding-left: 10px;">
            <p>
                <b>Paintjob ID</b>: 2<br />
                <b>Vehicle's ownership</b>: Jester<br />
                <b>Color</b>: Default (without custom color)<br />
                <b>Can add in Single Player</b>: Yes<br />
            </p>
        </div><br clear="both" />
        <div style="float: left; width: 210px; padding-left: 7px; border-right: 2px solid #E3E7FF;">
            <p>
                <img src="http://gta-news.org/images/wiki/samp/paintjobs/VehiclePaintjob_Sultan_0.png" alt="VehiclePaintjob_Sultan_0.png" />
            </p>
        </div>
        <div style="float: left; width: 300px; padding-left: 10px;">
            <p>
                <b>Paintjob ID</b>: 0<br />
                <b>Vehicle's ownership</b>: Sultan<br />
                <b>Color</b>: Default (without custom color)<br />
                <b>Can add in Single Player</b>: Yes<br />
            </p>
        </div><br clear="both" />
        <div style="float: left; width: 210px; padding-left: 7px; border-right: 2px solid #E3E7FF;">
            <p>
                <img src="http://gta-news.org/images/wiki/samp/paintjobs/VehiclePaintjob_Sultan_1.png" alt="VehiclePaintjob_Sultan_1.png" />
            </p>
        </div>
        <div style="float: left; width: 300px; padding-left: 10px;">
            <p>
                <b>Paintjob ID</b>: 1<br />
                <b>Vehicle's ownership</b>: Sultan<br />
                <b>Color</b>: Default (without custom color)<br />
                <b>Can add in Single Player</b>: Yes<br />
            </p>
        </div><br clear="both" />
        <div style="float: left; width: 210px; padding-left: 7px; border-right: 2px solid #E3E7FF;">
            <p>
                <img src="http://gta-news.org/images/wiki/samp/paintjobs/VehiclePaintjob_Sultan_2.png" alt="VehiclePaintjob_Sultan_2.png" />
            </p>
        </div>
        <div style="float: left; width: 300px; padding-left: 10px;">
            <p>
                <b>Paintjob ID</b>: 2<br />
                <b>Vehicle's ownership</b>: Sultan<br />
                <b>Color</b>: Default (without custom color)<br />
                <b>Can add in Single Player</b>: Yes<br />
            </p>
        </div><br clear="both" />
        <div style="float: left; width: 210px; padding-left: 7px; border-right: 2px solid #E3E7FF;">
            <p>
                <img src="http://gta-news.org/images/wiki/samp/paintjobs/VehiclePaintjob_Stratum_0.png" alt="VehiclePaintjob_Stratum_0.png" />
            </p>
        </div>
        <div style="float: left; width: 300px; padding-left: 10px;">
            <p>
                <b>Paintjob ID</b>: 0<br />
                <b>Vehicle's ownership</b>: Stratum<br />
                <b>Color</b>: Default (without custom color)<br />
                <b>Can add in Single Player</b>: Yes<br />
            </p>
        </div><br clear="both" />
        <div style="float: left; width: 210px; padding-left: 7px; border-right: 2px solid #E3E7FF;">
            <p>
                <img src="http://gta-news.org/images/wiki/samp/paintjobs/VehiclePaintjob_Stratum_1.png" alt="VehiclePaintjob_Stratum_1.png" />
            </p>
        </div>
        <div style="float: left; width: 300px; padding-left: 10px;">
            <p>
                <b>Paintjob ID</b>: 1<br />
                <b>Vehicle's ownership</b>: Stratum<br />
                <b>Color</b>: Default (without custom color)<br />
                <b>Can add in Single Player</b>: Yes<br />
            </p>
        </div><br clear="both" />
        <div style="float: left; width: 210px; padding-left: 7px; border-right: 2px solid #E3E7FF;">
            <p>
                <img src="http://gta-news.org/images/wiki/samp/paintjobs/VehiclePaintjob_Stratum_2.png" alt="VehiclePaintjob_Stratum_2.png" />
            </p>
        </div>
        <div style="float: left; width: 300px; padding-left: 10px;">
            <p>
                <b>Paintjob ID</b>: 2<br />
                <b>Vehicle's ownership</b>: Stratum<br />
                <b>Color</b>: Default (without custom color)<br />
                <b>Can add in Single Player</b>: Yes<br />
            </p>
        </div><br clear="both" />
        <div style="float: left; width: 210px; padding-left: 7px; border-right: 2px solid #E3E7FF;">
            <p>
                <img src="http://gta-news.org/images/wiki/samp/paintjobs/VehiclePaintjob_Elegy_0.png" alt="VehiclePaintjob_Elegy_0.png" />
            </p>
        </div>
        <div style="float: left; width: 300px; padding-left: 10px;">
            <p>
                <b>Paintjob ID</b>: 0<br />
                <b>Vehicle's ownership</b>: Elegy<br />
                <b>Color</b>: Default (without custom color)<br />
                <b>Can add in Single Player</b>: Yes<br />
            </p>
        </div><br clear="both" />
        <div style="float: left; width: 210px; padding-left: 7px; border-right: 2px solid #E3E7FF;">
            <p>
                <img src="http://gta-news.org/images/wiki/samp/paintjobs/VehiclePaintjob_Elegy_1.png" alt="VehiclePaintjob_Elegy_1.png" />
            </p>
        </div>
        <div style="float: left; width: 300px; padding-left: 10px;">
            <p>
                <b>Paintjob ID</b>: 1<br />
                <b>Vehicle's ownership</b>: Elegy<br />
                <b>Color</b>: Default (without custom color)<br />
                <b>Can add in Single Player</b>: Yes<br />
            </p>
        </div><br clear="both" />
        <div style="float: left; width: 210px; padding-left: 7px; border-right: 2px solid #E3E7FF;">
            <p>
                <img src="http://gta-news.org/images/wiki/samp/paintjobs/VehiclePaintjob_Elegy_2.png" alt="VehiclePaintjob_Elegy_2.png" />
            </p>
        </div>
        <div style="float: left; width: 300px; padding-left: 10px;">
            <p>
                <b>Paintjob ID</b>: 2<br />
                <b>Vehicle's ownership</b>: Elegy<br />
                <b>Color</b>: Default (without custom color)<br />
                <b>Can add in Single Player</b>: Yes<br />
            </p>
        </div><br clear="both" />
        <div style="float: left; width: 210px; padding-left: 7px; border-right: 2px solid #E3E7FF;">
            <p>
                <img src="http://gta-news.org/images/wiki/samp/paintjobs/VehiclePaintjob_Flash_0.png" alt="VehiclePaintjob_Flash_0.png" />
            </p>
        </div>
        <div style="float: left; width: 300px; padding-left: 10px;">
            <p>
                <b>Paintjob ID</b>: 0<br />
                <b>Vehicle's ownership</b>: Flash<br />
                <b>Color</b>: Default (without custom color)<br />
                <b>Can add in Single Player</b>: Yes<br />
            </p>
        </div><br clear="both" />
        <div style="float: left; width: 210px; padding-left: 7px; border-right: 2px solid #E3E7FF;">
            <p>
                <img src="http://gta-news.org/images/wiki/samp/paintjobs/VehiclePaintjob_Flash_1.png" alt="VehiclePaintjob_Flash_1.png" />
            </p>
        </div>
        <div style="float: left; width: 300px; padding-left: 10px;">
            <p>
                <b>Paintjob ID</b>: 1<br />
                <b>Vehicle's ownership</b>: Flash<br />
                <b>Color</b>: Default (without custom color)<br />
                <b>Can add in Single Player</b>: Yes<br />
            </p>
        </div><br clear="both" />
        <div style="float: left; width: 210px; padding-left: 7px; border-right: 2px solid #E3E7FF;">
            <p>
                <img src="http://gta-news.org/images/wiki/samp/paintjobs/VehiclePaintjob_Flash_2.png" alt="VehiclePaintjob_Flash_2.png" />
            </p>
        </div>
        <div style="float: left; width: 300px; padding-left: 10px;">
            <p>
                <b>Paintjob ID</b>: 2<br />
                <b>Vehicle's ownership</b>: Flash<br />
                <b>Color</b>: Default (without custom color)<br />
                <b>Can add in Single Player</b>: Yes<br />
            </p>
        </div><br clear="both" />
        <div style="float: left; width: 210px; padding-left: 7px; border-right: 2px solid #E3E7FF;">
            <p>
                <img src="http://gta-news.org/images/wiki/samp/paintjobs/VehiclePaintjob_Savanna_0.png" alt="VehiclePaintjob_Savanna_0.png" />
            </p>
        </div>
        <div style="float: left; width: 300px; padding-left: 10px;">
            <p>
                <b>Paintjob ID</b>: 0<br />
                <b>Vehicle's ownership</b>: Savanna<br />
                <b>Color</b>: Default (without custom color)<br />
                <b>Can add in Single Player</b>: Yes<br />
            </p>
        </div><br clear="both" />
        <div style="float: left; width: 210px; padding-left: 7px; border-right: 2px solid #E3E7FF;">
            <p>
                <img src="http://gta-news.org/images/wiki/samp/paintjobs/VehiclePaintjob_Savanna_1.png" alt="VehiclePaintjob_Savanna_1.png" />
            </p>
        </div>
        <div style="float: left; width: 300px; padding-left: 10px;">
            <p>
                <b>Paintjob ID</b>: 1<br />
                <b>Vehicle's ownership</b>: Savanna<br />
                <b>Color</b>: Default (without custom color)<br />
                <b>Can add in Single Player</b>: Yes<br />
            </p>
        </div><br clear="both" />
        <div style="float: left; width: 210px; padding-left: 7px; border-right: 2px solid #E3E7FF;">
            <p>
                <img src="http://gta-news.org/images/wiki/samp/paintjobs/VehiclePaintjob_Savanna_2.png" alt="VehiclePaintjob_Savanna_2.png" />
            </p>
        </div>
        <div style="float: left; width: 300px; padding-left: 10px;">
            <p>
                <b>Paintjob ID</b>: 2<br />
                <b>Vehicle's ownership</b>: Savanna<br />
                <b>Color</b>: Default (without custom color)<br />
                <b>Can add in Single Player</b>: Yes<br />
            </p>
        </div><br clear="both" />
        <div style="float: left; width: 210px; padding-left: 7px; border-right: 2px solid #E3E7FF;">
            <p>
                <img src="http://gta-news.org/images/wiki/samp/paintjobs/VehiclePaintjob_Broadway_0.png" alt="VehiclePaintjob_Broadway_0.png" />
            </p>
        </div>
        <div style="float: left; width: 300px; padding-left: 10px;">
            <p>
                <b>Paintjob ID</b>: 0<br />
                <b>Vehicle's ownership</b>: Broadway<br />
                <b>Color</b>: Default (without custom color)<br />
                <b>Can add in Single Player</b>: Yes<br />
            </p>
        </div><br clear="both" />
        <div style="float: left; width: 210px; padding-left: 7px; border-right: 2px solid #E3E7FF;">
            <p>
                <img src="http://gta-news.org/images/wiki/samp/paintjobs/VehiclePaintjob_Broadway_1.png" alt="VehiclePaintjob_Broadway_1.png" />
            </p>
        </div>
        <div style="float: left; width: 300px; padding-left: 10px;">
            <p>
                <b>Paintjob ID</b>: 1<br />
                <b>Vehicle's ownership</b>: Broadway<br />
                <b>Color</b>: Default (without custom color)<br />
                <b>Can add in Single Player</b>: Yes<br />
            </p>
        </div><br clear="both" />
        <div style="float: left; width: 210px; padding-left: 7px; border-right: 2px solid #E3E7FF;">
            <p>
                <img src="http://gta-news.org/images/wiki/samp/paintjobs/VehiclePaintjob_Tornado_0.png" alt="VehiclePaintjob_Tornado_0.png" />
            </p>
        </div>
        <div style="float: left; width: 300px; padding-left: 10px;">
            <p>
                <b>Paintjob ID</b>: 0<br />
                <b>Vehicle's ownership</b>: Tornado<br />
                <b>Color</b>: Default (without custom color)<br />
                <b>Can add in Single Player</b>: Yes<br />
            </p>
        </div><br clear="both" />
        <div style="float: left; width: 210px; padding-left: 7px; border-right: 2px solid #E3E7FF;">
            <p>
                <img src="http://gta-news.org/images/wiki/samp/paintjobs/VehiclePaintjob_Tornado_1.png" alt="VehiclePaintjob_Tornado_1.png" />
            </p>
        </div>
        <div style="float: left; width: 300px; padding-left: 10px;">
            <p>
                <b>Paintjob ID</b>: 1<br />
                <b>Vehicle's ownership</b>: Tornado<br />
                <b>Color</b>: Default (without custom color)<br />
                <b>Can add in Single Player</b>: Yes<br />
            </p>
        </div><br clear="both" />
        <div style="float: left; width: 210px; padding-left: 7px; border-right: 2px solid #E3E7FF;">
            <p>
                <img src="http://gta-news.org/images/wiki/samp/paintjobs/VehiclePaintjob_Tornado_2.png" alt="VehiclePaintjob_Tornado_2.png" />
            </p>
        </div>
        <div style="float: left; width: 300px; padding-left: 10px;">
            <p>
                <b>Paintjob ID</b>: 2<br />
                <b>Vehicle's ownership</b>: Tornado<br />
                <b>Color</b>: Default (without custom color)<br />
                <b>Can add in Single Player</b>: Yes<br />
            </p>
        </div><br clear="both" />
    </div>
</div>

<p>Изображения с сайта gta-news.org. Оригнал статьи на <a href="http://wiki.sa-mp.com/" class="external" target="_blank">wiki.sa-mp.com</a></p>