
@{
    ViewBag.Title = "Типы пикапов";
}


<h3 class="zagolovok"> Доступные типы пикапов </h3>
<p>
    Существуют и другие IDs, которые не описаны здесь, многие из которых похожи на ID 1  (но не используйте их только потому, что похожи на ID 1, они могут иметь побочный эффект как ID 18 и 20).
</p>
<table>
    <thead>
        <tr>
            <th> ID </th>
            <th> Описание </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td> 0 </td>
            <td> Пикап не отображается. Если отображается, то не может быть поднят, не вызывает OnPlayerPickUpPickup и будет оставаться после перезапуска сервера </td>
        </tr>
        <tr>
            <td> 1 </td>
            <td> Отображается всегда. Вызывет OnPlayerPickUpPickup при каждом поднятии. </td>
        </tr>
        <tr>
            <td> 2 </td>
            <td> Отображается, исчезает после поднятия, появляется через 30 секунд если игрок находится на расстоянии не менее 15 метров </td>
        </tr>
        <tr>
            <td> 3 </td>
            <td> Отображается, исчезает после поднятия, появляется после смерти. </td>
        </tr>
        <tr>
            <td> 4 </td>
            <td> Отображается, исчезает после создания через 15 - 20 секунд. Появляется после смерти. </td>
        </tr>
        <tr>
            <td> 8 </td>
            <td> Отображается, исчезает после поднятия, без каких-либо эффектов. </td>
        </tr>
        <tr>
            <td> 11 </td>
            <td> Взрывается через несколько секунд после создания (бомбы?). </td>
        </tr>
        <tr>
            <td> 12 </td>
            <td> Взрывается через несколько секунд после создания. </td>
        </tr>
        <tr>
            <td> 13 </td>
            <td> Невидимый. Проигрывается звук захода на чекпоинт, когда игрок в транспорте. Не вызывает OnPlayerPickUpPickup. </td>
        </tr>
        <tr>
            <td> 14 </td>
            <td> Отображается, исчазает после поднятия, может быть поднят только в транспорте.  Проигрывается звук захода на чекпоинт. </td>
        </tr>
        <tr>
            <td> 15 </td>
            <td> То же самое, что ID 2. </td>
        </tr>
        <tr>
            <td> 18 </td>
            <td> Похож на ID 1. Нажатие на Tab (KEY_ACTION) заставит его исчезнуть, но нажатие на кнопку не вызывает OnPlayerPickUpPickup. </td>
        </tr>
        <tr>
            <td> 19 </td>
            <td> Отображается. Исчезает после поднятия, но не появляется снова. Проигрывается звук поднятия денег, когда поднимается. </td>
        </tr>
        <tr>
            <td> 20 </td>
            <td> Похож на ID 1. Исчезает когда вы делаете его фотосъемку (Camera weapon), вызывает сообщение типа: "Snapshot # out of 0". Фотосъемка не вызывает OnPlayerPickUpPickup. </td>
        </tr>
        <tr>
            <td> 22 </td>
            <td> То же самое, что ID 3. </td>
        </tr>
    </tbody>
</table>

