
@{
    ViewBag.Title = "Виды погоды";
}

<table border="0" cellspacing="0" cellpadding="2">
    <tr><th width="40">ID</th><th width="156">06:00</th><th width="156">12:00</th><th width="156">20:00</th><th width="156">22:00</th><th width="156">00:00</th></tr>
    <tr><td>0</td><td colspan="5"><img src="http://hotmist.ddo.jp/id/weather_00.jpg" width="800" height="120"></td></tr>
    <tr><td>1</td><td colspan="5"><img src="http://hotmist.ddo.jp/id/weather_01.jpg" width="800" height="120"></td></tr>
    <tr><td>2</td><td colspan="5"><img src="http://hotmist.ddo.jp/id/weather_02.jpg" width="800" height="120"></td></tr>
    <tr><td>3</td><td colspan="5"><img src="http://hotmist.ddo.jp/id/weather_03.jpg" width="800" height="120"></td></tr>
    <tr><td>4</td><td colspan="5"><img src="http://hotmist.ddo.jp/id/weather_04.jpg" width="800" height="120"></td></tr>
    <tr><td>5</td><td colspan="5"><img src="http://hotmist.ddo.jp/id/weather_05.jpg" width="800" height="120"></td></tr>
    <tr><td>6</td><td colspan="5"><img src="http://hotmist.ddo.jp/id/weather_06.jpg" width="800" height="120"></td></tr>
    <tr><td>7</td><td colspan="5"><img src="http://hotmist.ddo.jp/id/weather_07.jpg" width="800" height="120"></td></tr>
    <tr><td>8</td><td colspan="5"><img src="http://hotmist.ddo.jp/id/weather_08.jpg" width="800" height="120"></td></tr>
    <tr><td>9</td><td colspan="5"><img src="http://hotmist.ddo.jp/id/weather_09.jpg" width="800" height="120"></td></tr>
    <tr><th width="40">ID</th><th width="156">06:00</th><th width="156">12:00</th><th width="156">20:00</th><th width="156">22:00</th><th width="156">00:00</th></tr>
    <tr><td>10</td><td colspan="5"><img src="http://hotmist.ddo.jp/id/weather_10.jpg" width="800" height="120"></td></tr>
    <tr><td>11</td><td colspan="5"><img src="http://hotmist.ddo.jp/id/weather_11.jpg" width="800" height="120"></td></tr>
    <tr><td>12</td><td colspan="5"><img src="http://hotmist.ddo.jp/id/weather_12.jpg" width="800" height="120"></td></tr>
    <tr><td>13</td><td colspan="5"><img src="http://hotmist.ddo.jp/id/weather_13.jpg" width="800" height="120"></td></tr>
    <tr><td>14</td><td colspan="5"><img src="http://hotmist.ddo.jp/id/weather_14.jpg" width="800" height="120"></td></tr>
    <tr><td>15</td><td colspan="5"><img src="http://hotmist.ddo.jp/id/weather_15.jpg" width="800" height="120"></td></tr>
    <tr><td>16</td><td colspan="5"><img src="http://hotmist.ddo.jp/id/weather_16.jpg" width="800" height="120"></td></tr>
    <tr><td>17</td><td colspan="5"><img src="http://hotmist.ddo.jp/id/weather_17.jpg" width="800" height="120"></td></tr>
    <tr><td>18</td><td colspan="5"><img src="http://hotmist.ddo.jp/id/weather_18.jpg" width="800" height="120"></td></tr>
    <tr><td>19</td><td colspan="5"><img src="http://hotmist.ddo.jp/id/weather_19.jpg" width="800" height="120"></td></tr>
    <tr><th width="40">ID</th><th width="156">06:00</th><th width="156">12:00</th><th width="156">20:00</th><th width="156">22:00</th><th width="156">00:00</th></tr>
    <tr><td>20</td><td colspan="5"><img src="http://hotmist.ddo.jp/id/weather_20.jpg" width="800" height="120"></td></tr>
    <tr><td>21</td><td colspan="5"><img src="http://hotmist.ddo.jp/id/weather_21.jpg" width="800" height="120"></td></tr>
    <tr><td>22</td><td colspan="5"><img src="http://hotmist.ddo.jp/id/weather_22.jpg" width="800" height="120"></td></tr>
    <tr><td>23</td><td colspan="5"><img src="http://hotmist.ddo.jp/id/weather_23.jpg" width="800" height="120"></td></tr>
    <tr><td>24</td><td colspan="5"><img src="http://hotmist.ddo.jp/id/weather_24.jpg" width="800" height="120"></td></tr>
    <tr><td>25</td><td colspan="5"><img src="http://hotmist.ddo.jp/id/weather_25.jpg" width="800" height="120"></td></tr>
    <tr><td>26</td><td colspan="5"><img src="http://hotmist.ddo.jp/id/weather_26.jpg" width="800" height="120"></td></tr>
    <tr><td>27</td><td colspan="5"><img src="http://hotmist.ddo.jp/id/weather_27.jpg" width="800" height="120"></td></tr>
    <tr><td>28</td><td colspan="5"><img src="http://hotmist.ddo.jp/id/weather_28.jpg" width="800" height="120"></td></tr>
    <tr><td>29</td><td colspan="5"><img src="http://hotmist.ddo.jp/id/weather_29.jpg" width="800" height="120"></td></tr>
    <tr><th width="40">ID</th><th width="156">06:00</th><th width="156">12:00</th><th width="156">20:00</th><th width="156">22:00</th><th width="156">00:00</th></tr>
    <tr><td>30</td><td colspan="5"><img src="http://hotmist.ddo.jp/id/weather_30.jpg" width="800" height="120"></td></tr>
    <tr><td>31</td><td colspan="5"><img src="http://hotmist.ddo.jp/id/weather_31.jpg" width="800" height="120"></td></tr>
    <tr><td>32</td><td colspan="5"><img src="http://hotmist.ddo.jp/id/weather_32.jpg" width="800" height="120"></td></tr>
    <tr><td>33</td><td colspan="5"><img src="http://hotmist.ddo.jp/id/weather_33.jpg" width="800" height="120"></td></tr>
    <tr><td>34</td><td colspan="5"><img src="http://hotmist.ddo.jp/id/weather_34.jpg" width="800" height="120"></td></tr>
    <tr><td>35</td><td colspan="5"><img src="http://hotmist.ddo.jp/id/weather_35.jpg" width="800" height="120"></td></tr>
    <tr><td>36</td><td colspan="5"><img src="http://hotmist.ddo.jp/id/weather_36.jpg" width="800" height="120"></td></tr>
    <tr><td>37</td><td colspan="5"><img src="http://hotmist.ddo.jp/id/weather_37.jpg" width="800" height="120"></td></tr>
    <tr><td>38</td><td colspan="5"><img src="http://hotmist.ddo.jp/id/weather_38.jpg" width="800" height="120"></td></tr>
    <tr><td>39</td><td colspan="5"><img src="http://hotmist.ddo.jp/id/weather_39.jpg" width="800" height="120"></td></tr>
    <tr><th width="40">ID</th><th width="156">06:00</th><th width="156">12:00</th><th width="156">20:00</th><th width="156">22:00</th><th width="156">00:00</th></tr>
    <tr><td>40</td><td colspan="5"><img src="http://hotmist.ddo.jp/id/weather_40.jpg" width="800" height="120"></td></tr>
    <tr><td>41</td><td colspan="5"><img src="http://hotmist.ddo.jp/id/weather_41.jpg" width="800" height="120"></td></tr>
    <tr><td>42</td><td colspan="5"><img src="http://hotmist.ddo.jp/id/weather_42.jpg" width="800" height="120"></td></tr>
    <tr><td>43</td><td colspan="5"><img src="http://hotmist.ddo.jp/id/weather_43.jpg" width="800" height="120"></td></tr>
    <tr><td>44</td><td colspan="5"><img src="http://hotmist.ddo.jp/id/weather_44.jpg" width="800" height="120"></td></tr>
    <tr><td>45</td><td colspan="5"><img src="http://hotmist.ddo.jp/id/weather_45.jpg" width="800" height="120"></td></tr>
</table>
<p>Оригинал на <a href="http://hotmist.ddo.jp/id/weather.html" class="external" target="_blank">hotmist.ddo.jp</a></p>

