    #content {
        font-size: 12px;
        font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    }

    table td {
        border-right: 1px solid #D9E0E7;
        border-bottom: 1px solid #D9E0E7;
        padding: 4px;
    }

        table td:last-child {
            border-right: none;
        }

    table th {
        text-align: center;
        font-size: 11px;
        background-color: #DEE5EB;
        font-weight: bold;
        color: #45688E;
        padding: 6px 8px;
    }

    .redstar {
        color: #FFA733;
    }