@{
    ViewBag.Title = "Skins";
}


<div class="zagolovok">Выберите категорию на вывод</div>
<form name="submission" action="">
    <INPUT TYPE="radio" NAME="skinchose" VALUE="allskins" id="allskins">
    <label for="allskins"><p>Все скины</p></label>
    <INPUT TYPE="radio" NAME="skinchose" VALUE="manskins" id="manskins">
    <label for="manskins"><p>Мужские скины</p></label>
    <INPUT TYPE="radio" NAME="skinchose" VALUE="womanskins" id="womanskins">
    <label for="womanskins"><p>Женские скины</p></label>
    <INPUT TYPE="radio" NAME="skinchose" VALUE="bandskins" id="bandskins">
    <label for="bandskins"><p>Скины банд</p></label>
    <INPUT TYPE="radio" NAME="skinchose" VALUE="beachskins" id="beachskins">
    <label for="beachskins"><p>Скины посетителей пляжей</p></label>
    <INPUT TYPE="radio" NAME="skinchose" VALUE="hobos" id="hobos">
    <label for="hobos"><p>Скины бездомных</p></label>
    <INPUT TYPE="radio" NAME="skinchose" VALUE="bikers" id="bikers">
    <label for="bikers"><p>Скины байкеров</p></label>
    <INPUT TYPE="radio" NAME="skinchose" VALUE="legalists" id="legalists">
    <label for="legalists"><p>Скины законников</p></label>
    <INPUT TYPE="radio" NAME="skinchose" VALUE="mafia" id="mafia">
    <label for="mafia"><p>Скины мафий</p></label>
    <INPUT TYPE="radio" NAME="skinchose" VALUE="normalskins" id="normalskins">
    <label for="normalskins"><p>Скины обычных людей</p></label>
    <INPUT TYPE="radio" NAME="skinchose" VALUE="037skins" id="037skins">
    <label for="037skins"><p>Скины 0.3.7</p></label>
    <button class="buttonS" type="submit">
        Просмотр
    </button>
</form>
<script>
    
</script>
<div id="OUT"></div>


                