#pk-quote{
        text-align: right;
        color: gray;
    }

    #pk-images {
        margin-top: 10px;
        text-align:center;
    }

    p#pk-title {
        margin: 5px auto 0px auto;
        padding: 5px;
        text-align: center;
        font-size: 25px; 
    }

    #pk-switch-language a{
        display: block;
    }
    
    #pk-switch-language a img{
        float:right;
        height: 16px;
    }

    .news{
        margin: 10px 5px 10px 5px;
        font-weight: bold;
        font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
        font-size: 11px;
        min-height: 62px;
    }

    .news .n-title{
        font-weight: bold;
        padding: 2px 2px 4px 0px;
    }

    .news .n-prevtext{
        margin-left: 80px;
        display: block;
        font-weight: normal;
    }

    .news .n-text{
        font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
        font-size: 11px;
        display: block;
        color: #777777;
    }

    .news .n-footer{
        border-bottom: 1px solid #EDEDED;
        padding: 7px;
        background: #FFFFFF;
    }

    .news .n-postdate{
        font-size: 8px;
        font-weight: normal;
        display: inline;
        margin-left: 5px;
    }

    .news .n-image{
        clear: left;
        float: left;
        max-height:58px;
        border: 1px solid gray;
        padding: 2px; 
        max-width: 100px;
    }

    .news .annotation{
        font-size: 10px;
        font-weight: bold;
    }

    .news ul li{
        list-style-type:none;
    }

    #content{
overflow: hidden;
height: 100%;
}    body{
        overflow: hidden;
    }#vk_groups{
    margin-top:20px;
    height: 95%;
    /*height:95%;*/
    /*
width: 95%;
border: 1px solid #DAE1E8;
overflow:scroll; 
overflow:scroll; 
overflow-x:hidden;
height:95%;*/
}