<div id="attrs">
    <span id="pageTitle" data-pkinfo="@ViewBag.Title" />
    <span id="pageScriptUrl" data-pkinfo="@ViewBag.ScriptUrl" />
    <span id="pageStyleUrl" data-pkinfo="@ViewBag.StyleUrl" />
</div>
@RenderBody()

