<a href="http://app.pawnokit.ru.swtest.ru/downloads/zcmd.rar" class="external" target="external">ZCMD (include)</a>
<a href="http://app.pawnokit.ru.swtest.ru/downloads/foreach.rar" class="external" target="external">Foreach (include)</a>
<a href="http://app.pawnokit.ru.swtest.ru/downloads/mxINI.rar" class="external" target="external">MxINI (include)</a>
<a href="http://app.pawnokit.ru.swtest.ru/downloads/YSI.rar" class="external" target="external">YSI</a>
<a href="http://app.pawnokit.ru.swtest.ru/downloads/colors.rar" class="external" target="external">Colors (include)</a>
<a href="https://github.com/samp-incognito/samp-streamer-plugin/releases" class="external" target="external">Streamer (plugin)</a>
<a href="https://github.com/maddinat0r/sscanf/releases" class="external" target="external">Sscanf (plugin)</a>
<a href="http://forum.sa-mp.com/showthread.php?t=56564" class="external" target="external">MySQL</a>

