
@{
    ViewBag.Title = "Менеджер звуков";
}

<div id="preloaderMain">
    <br />
    <div>
        Менеджер звуков будет доступен через <span id="preloaderCounter">3</span> секунд(ы,у)
        <br />
        Оригинальная версия на <a href="http://samp-sound.do.am/" class="external" target="external">samp-sound.do.am</a>
        <br />
        <br />
        <img src="~/Content/Pages/Tools/SoundManager/images/711.gif" style="opacity: 0.3; height: 64px" />
    </div>
</div>
<div id="secondMain">
    <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="580" height="450" codebase="http://active.macromedia.com/flash6/cabs/swflash.cab#version=6.0.0.0"> 
    <param name="movie" value="/soundbase/S-Sounds_version_1.0.swf"> 
    <param name="play" value="true"> <param name="loop" value="true"> 
    <param name="WMode" value="Opaque"> <param name="quality" value="high"> 
    <param name="bgcolor" value=""> <param name="align" value=""> 
    <embed src="~/Content/Pages/Tools/SoundManager/S-Sounds_version_1.0.swf" width="580" height="450" play="true" loop="true" wmode="Opaque" quality="high" bgcolor="FFFFFF" align="" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash"> </object>
    Данный сервис позволяет прослушать звуки GTA SA, узнать их наименование и ИД.<br />
    Наведите курсор мыши на строку в окне выше. <br />
    <b>Наименование</b> звука отображено слева. <b>ИД</b> звука отображен справа<br />

    <br />
    <p>Автор: <b>Vitaly Dashuk</b></p>
    <p>Оригинал на <a href="http://samp-sound.do.am/" class="external" target="external">samp-sound.do.am</a></p>
</div>
