
@{
    ViewBag.Title = "Виды взрывов";
}


<iframe width="560" height="315" src="//www.youtube.com/embed/Laen0gGhzBo?rel=0" frameborder="0" allowfullscreen></iframe>
<table border="1" cellspacing="0" cellpadding="5">
    <tr>
        <th>
            <b>Тип</b>
        </th>
        <th>
            <b>Видимый</b>
        </th>
        <th>
            <b>Splits</b>
        </th>
        <th>
            <b>Создает огонь</b>
        </th>
        <th>
            <b>Физический взрыв</b>
        </th>
        <th>
            <b>Наличие звука</b>
        </th>
        <th>
            <b>Special</b>
        </th>
        <th>
            <b>Радиус</b>
        </th>
    </tr>
    <tr>
        <td>
            0
        </td>
        <td>
            Да
        </td>
        <td>
            --
        </td>
        <td>
            --
        </td>
        <td>
            Да
        </td>
        <td>
            Да
        </td>
        <td>
            Нормальный
        </td>
        <td>
            Большой
        </td>
    </tr>
    <tr>
        <td>
            1
        </td>
        <td>
            Да
        </td>
        <td>
            --
        </td>
        <td>
            Да
        </td>
        <td>
            --
        </td>
        <td>
            Да
        </td>
        <td>
            Нормальный
        </td>
        <td>
            Нормальный
        </td>
    </tr>
    <tr>
        <td>
            2
        </td>
        <td>
            Да
        </td>
        <td>
            --
        </td>
        <td>
            Да
        </td>
        <td>
            Да
        </td>
        <td>
            Да
        </td>
        <td>
            Нормальный
        </td>
        <td>
            Большой
        </td>
    </tr>
    <tr>
        <td>
            3
        </td>
        <td>
            Да
        </td>
        <td>
            --
        </td>
        <td>
            Иногда?
        </td>
        <td>
            Да
        </td>
        <td>
            Да
        </td>
        <td>
            Нормальный
        </td>
        <td>
            Большой
        </td>
    </tr>
    <tr>
        <td>
            4
        </td>
        <td>
            Да
        </td>
        <td>
            Да
        </td>
        <td>
            --
        </td>
        <td>
            Да
        </td>
        <td>
            --
        </td>
        <td>
            Без звука
        </td>
        <td>
            Нормальный
        </td>
    </tr>
    <tr>
        <td>
            5
        </td>
        <td>
            Да
        </td>
        <td>
            Да
        </td>
        <td>
            --
        </td>
        <td>
            Да
        </td>
        <td>
            --
        </td>
        <td>
            Без звука
        </td>
        <td>
            Нормальный
        </td>
    </tr>
    <tr>
        <td>
            6
        </td>
        <td>
            Да
        </td>
        <td>
            --
        </td>
        <td>
            --
        </td>
        <td>
            Да
        </td>
        <td>
            Да
        </td>
        <td>
            Дополнительный красный взрыв и свечение
        </td>
        <td>
            Очень Большой
        </td>
    </tr>
    <tr>
        <td>
            7
        </td>
        <td>
            Да
        </td>
        <td>
            --
        </td>
        <td>
            --
        </td>
        <td>
            Да
        </td>
        <td>
            Да
        </td>
        <td>
            Дополнительный красный взрыв и свечение
        </td>
        <td>
            Огромный
        </td>
    </tr>
    <tr>
        <td>
            8
        </td>
        <td>
            --
        </td>
        <td>
            --
        </td>
        <td>
            --
        </td>
        <td>
            Да
        </td>
        <td>
            Да
        </td>
        <td>
            Невидимый
        </td>
        <td>
            Нормальный
        </td>
    </tr>
    <tr>
        <td>
            9
        </td>
        <td>
            --
        </td>
        <td>
            --
        </td>
        <td>
            Да
        </td>
        <td>
            Да
        </td>
        <td>
            Да
        </td>
        <td>
            Создает пожар на уровне земли, в противном случае взрыв слышен, но невидим
        </td>
        <td>
            Нормальный
        </td>
    </tr>
    <tr>
        <td>
            10
        </td>
        <td>
            Да
        </td>
        <td>
            --
        </td>
        <td>
            --
        </td>
        <td>
            Да
        </td>
        <td>
            Да
        </td>
        <td>
            Нормальный
        </td>
        <td>
            Большой
        </td>
    </tr>
    <tr>
        <td>
            11
        </td>
        <td>
            Да
        </td>
        <td>
            --
        </td>
        <td>
            --
        </td>
        <td>
            Да
        </td>
        <td>
            Да
        </td>
        <td>
            Нормальный
        </td>
        <td>
            Малый
        </td>
    </tr>
    <tr>
        <td>
            12
        </td>
        <td>
            Да
        </td>
        <td>
            --
        </td>
        <td>
            --
        </td>
        <td>
            Да
        </td>
        <td>
            Да
        </td>
        <td>
            Реально Малый
        </td>
        <td>
            Очень Малый
        </td>
    </tr>
    <tr>
        <td>
            13
        </td>
        <td>
            --
        </td>
        <td>
            --
        </td>
        <td>
            --
        </td>
        <td>
            --
        </td>
        <td>
            Да
        </td>
        <td>
            Не производит никаких эффектов кроме черного пятна на земле
        </td>
        <td>
            Большой
        </td>
    </tr>
</table>
