
@{
    ViewBag.Title = "Интерьеры";
}


<table class="wiki-content-table">
    <tr>
        <th>Название</th>
        <th>ID</th>
        <th>X,Y,Z координаты</th>
        <th>Превью</th>
    </tr>
    <tr>
        <td>24/7&#160;1</td>
        <td style="text-align: center;">17</td>
        <td style="text-align: right;">-25.884498,-185.868988,1003.546875</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/247.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/247.jpg/thumbnail.jpg" alt="247.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>24/7&#160;2</td>
        <td style="text-align: center;">10</td>
        <td style="text-align: right;">6.091179,-29.271898,1003.549438</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/247-2.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/247-2.jpg/thumbnail.jpg" alt="247-2.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>24/7&#160;3</td>
        <td style="text-align: center;">18</td>
        <td style="text-align: right;">-30.946699,-89.609596,1003.546875</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/247.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/247.jpg/thumbnail.jpg" alt="247.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>24/7&#160;4</td>
        <td style="text-align: center;">16</td>
        <td style="text-align: right;">-25.132598,-139.066986,1003.546875</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/247-2.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/247-2.jpg/thumbnail.jpg" alt="247-2.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>24/7&#160;5</td>
        <td style="text-align: center;">4</td>
        <td style="text-align: right;">-27.312299,-29.277599,1003.557250</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/247.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/247.jpg/thumbnail.jpg" alt="247.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>24/7&#160;6</td>
        <td style="text-align: center;">6</td>
        <td style="text-align: right;">-26.691598,-55.714897,1003.546875</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/247-2.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/247-2.jpg/thumbnail.jpg" alt="247-2.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Airport ticket desk</td>
        <td style="text-align: center;">14</td>
        <td style="text-align: right;">-1827.147338,7.207417,1061.143554</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Checkindesk.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Checkindesk.jpg/thumbnail.jpg" alt="Checkindesk.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Airport baggage reclaim</td>
        <td style="text-align: center;">14</td>
        <td style="text-align: right;">-1861.936889,54.908092,1061.143554</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Baggageclaim.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Baggageclaim.jpg/thumbnail.jpg" alt="Baggageclaim.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Shamal</td>
        <td style="text-align: center;">1</td>
        <td style="text-align: right;">1.808619,32.384357,1199.593750</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Shamal.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Shamal.jpg/thumbnail.jpg" alt="Shamal.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Andromada</td>
        <td style="text-align: center;">9</td>
        <td style="text-align: right;">315.745086,984.969299,1958.919067</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Andromada.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Andromada.jpg/thumbnail.jpg" alt="Andromada.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Ammunation 1</td>
        <td style="text-align: center;">1</td>
        <td style="text-align: right;">286.148986,-40.644397,1001.515625</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Amu1.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Amu1.jpg/thumbnail.jpg" alt="Amu1.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Ammunation 2</td>
        <td style="text-align: center;">4</td>
        <td style="text-align: right;">286.800994,-82.547599,1001.515625</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Amu2.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Amu2.jpg/thumbnail.jpg" alt="Amu2.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Ammunation 3</td>
        <td style="text-align: center;">6</td>
        <td style="text-align: right;">296.919982,-108.071998,1001.515625</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Amu3.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Amu3.jpg/thumbnail.jpg" alt="Amu3.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Ammunation 4</td>
        <td style="text-align: center;">7</td>
        <td style="text-align: right;">314.820983,-141.431991,999.601562</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Amu4.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Amu4.jpg/thumbnail.jpg" alt="Amu4.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Ammunation 5</td>
        <td style="text-align: center;">6</td>
        <td style="text-align: right;">316.524993,-167.706985,999.593750</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Amu5.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Amu5.jpg/thumbnail.jpg" alt="Amu5.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Ammunation booths</td>
        <td style="text-align: center;">7</td>
        <td style="text-align: right;">302.292877,-143.139099,1004.062500</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Booth.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Booth.jpg/thumbnail.jpg" alt="Booth.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Ammunation range</td>
        <td style="text-align: center;">7</td>
        <td style="text-align: right;">298.507934,-141.647048,1004.054748</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Range.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Range.jpg/thumbnail.jpg" alt="Range.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Blastin fools hallway</td>
        <td style="text-align: center;">3</td>
        <td style="text-align: right;">1038.531372,0.111030,1001.284484</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Blastinfools.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Blastinfools.jpg/thumbnail.jpg" alt="Blastinfools.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Budget inn motel room</td>
        <td style="text-align: center;">12</td>
        <td style="text-align: right;">444.646911,508.239044,1001.419494</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Hotelunused.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Hotelunused.jpg/thumbnail.jpg" alt="Hotelunused.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Jefferson motel</td>
        <td style="text-align: center;">15</td>
        <td style="text-align: right;">2215.454833,-1147.475585,1025.796875</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Jeffersonmotel.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Jeffersonmotel.jpg/thumbnail.jpg" alt="Jeffersonmotel.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Off track betting shop</td>
        <td style="text-align: center;">3</td>
        <td style="text-align: right;">833.269775,10.588416,1004.179687</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Offtrackbetting.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Offtrackbetting.jpg/thumbnail.jpg" alt="Offtrackbetting.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Sex shop</td>
        <td style="text-align: center;">3</td>
        <td style="text-align: right;">-103.559165,-24.225606,1000.718750</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Sexshop.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Sexshop.jpg/thumbnail.jpg" alt="Sexshop.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Meat factory</td>
        <td style="text-align: center;">1</td>
        <td style="text-align: right;">963.418762,2108.292480,1011.030273</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Meatprocessingplant.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Meatprocessingplant.jpg/thumbnail.jpg" alt="Meatprocessingplant.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Zero's RC shop</td>
        <td style="text-align: center;">6</td>
        <td style="text-align: right;">-2240.468505,137.060440,1035.414062</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/ZerosRCshop.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/ZerosRCshop.jpg/thumbnail.jpg" alt="ZerosRCshop.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Dillimore gas station</td>
        <td style="text-align: center;">0</td>
        <td style="text-align: right;">663.836242,-575.605407,16.343263</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Gasstation.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Gasstation.jpg/thumbnail.jpg" alt="Gasstation.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Catigula's basement</td>
        <td style="text-align: center;">1</td>
        <td style="text-align: right;">2169.461181,1618.798339,999.976562</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Casinobasement1.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Casinobasement1.jpg/thumbnail.jpg" alt="Casinobasement1.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>FDC Janitors room</td>
        <td style="text-align: center;">10</td>
        <td style="text-align: right;">1889.953369,1017.438293,31.882812</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Janitorsroom.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Janitorsroom.jpg/thumbnail.jpg" alt="Janitorsroom.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Woozie's office</td>
        <td style="text-align: center;">1</td>
        <td style="text-align: right;">-2159.122802,641.517517,1052.381713</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Woozies1.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Woozies1.jpg/thumbnail.jpg" alt="Woozies1.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Binco</td>
        <td style="text-align: center;">15</td>
        <td style="text-align: right;">207.737991,-109.019996,1005.132812</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Binco.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Binco.jpg/thumbnail.jpg" alt="Binco.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Didier sachs</td>
        <td style="text-align: center;">14</td>
        <td style="text-align: right;">204.332992,-166.694992,1000.523437</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Didiersachs.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Didiersachs.jpg/thumbnail.jpg" alt="Didiersachs.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Prolaps</td>
        <td style="text-align: center;">3</td>
        <td style="text-align: right;">207.054992,-138.804992,1003.507812</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Prolaps.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Prolaps.jpg/thumbnail.jpg" alt="Prolaps.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Suburban</td>
        <td style="text-align: center;">1</td>
        <td style="text-align: right;">203.777999,-48.492397,1001.804687</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Suburban.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Suburban.jpg/thumbnail.jpg" alt="Suburban.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Victim</td>
        <td style="text-align: center;">5</td>
        <td style="text-align: right;">226.293991,-7.431529,1002.210937</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Victim.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Victim.jpg/thumbnail.jpg" alt="Victim.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Zip</td>
        <td style="text-align: center;">18</td>
        <td style="text-align: right;">161.391006,-93.159156,1001.804687</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Zip.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Zip.jpg/thumbnail.jpg" alt="Zip.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Club</td>
        <td style="text-align: center;">17</td>
        <td style="text-align: right;">493.390991,-22.722799,1000.679687</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Club.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Club.jpg/thumbnail.jpg" alt="Club.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Bar</td>
        <td style="text-align: center;">11</td>
        <td style="text-align: right;">501.980987,-69.150199,998.757812</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Pub.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Pub.jpg/thumbnail.jpg" alt="Pub.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Lil' probe inn</td>
        <td style="text-align: center;">18</td>
        <td style="text-align: right;">-227.027999,1401.229980,27.765625</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Probeinn.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Probeinn.jpg/thumbnail.jpg" alt="Probeinn.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Jay's diner</td>
        <td style="text-align: center;">4</td>
        <td style="text-align: right;">457.304748,-88.428497,999.554687</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Jaysdiner.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Jaysdiner.jpg/thumbnail.jpg" alt="Jaysdiner.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Gant bridge diner</td>
        <td style="text-align: center;">5</td>
        <td style="text-align: right;">454.973937,-110.104995,1000.077209</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Gantbridgediner.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Gantbridgediner.jpg/thumbnail.jpg" alt="Gantbridgediner.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Secret valley diner</td>
        <td style="text-align: center;">6</td>
        <td style="text-align: right;">435.271331,-80.958938,999.554687</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Happyvalleysiner.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Happyvalleysiner.jpg/thumbnail.jpg" alt="Happyvalleysiner.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>World of coq</td>
        <td style="text-align: center;">1</td>
        <td style="text-align: right;">452.489990,-18.179698,1001.132812</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Worldofcoq.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Worldofcoq.jpg/thumbnail.jpg" alt="Worldofcoq.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Welcome pump</td>
        <td style="text-align: center;">1</td>
        <td style="text-align: right;">681.557861,-455.680053,-25.609874</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Truckstop.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Truckstop.jpg/thumbnail.jpg" alt="Truckstop.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Burger shot</td>
        <td style="text-align: center;">10</td>
        <td style="text-align: right;">375.962463,-65.816848,1001.507812</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Burgershot.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Burgershot.jpg/thumbnail.jpg" alt="Burgershot.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Cluckin' bell</td>
        <td style="text-align: center;">9</td>
        <td style="text-align: right;">369.579528,-4.487294,1001.858886</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Cluckinbell.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Cluckinbell.jpg/thumbnail.jpg" alt="Cluckinbell.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Well stacked pizza</td>
        <td style="text-align: center;">5</td>
        <td style="text-align: right;">373.825653,-117.270904,1001.499511</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Wellstackedpizza.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Wellstackedpizza.jpg/thumbnail.jpg" alt="Wellstackedpizza.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Rusty browns donuts</td>
        <td style="text-align: center;">17</td>
        <td style="text-align: right;">381.169189,-188.803024,1000.632812</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Rustybrowns.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Rustybrowns.jpg/thumbnail.jpg" alt="Rustybrowns.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Denise room</td>
        <td style="text-align: center;">1</td>
        <td style="text-align: right;">244.411987,305.032989,999.148437</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Deniseroom.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Deniseroom.jpg/thumbnail.jpg" alt="Deniseroom.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Katie room</td>
        <td style="text-align: center;">2</td>
        <td style="text-align: right;">271.884979,306.631988,999.148437</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Katieroom.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Katieroom.jpg/thumbnail.jpg" alt="Katieroom.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Helena room</td>
        <td style="text-align: center;">3</td>
        <td style="text-align: right;">291.282989,310.031982,999.148437</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Helenaroom.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Helenaroom.jpg/thumbnail.jpg" alt="Helenaroom.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Michelle room</td>
        <td style="text-align: center;">4</td>
        <td style="text-align: right;">302.180999,300.722991,999.148437</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Michelleroom.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Michelleroom.jpg/thumbnail.jpg" alt="Michelleroom.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Barbara room</td>
        <td style="text-align: center;">5</td>
        <td style="text-align: right;">322.197998,302.497985,999.148437</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Barbararoom.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Barbararoom.jpg/thumbnail.jpg" alt="Barbararoom.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Millie room</td>
        <td style="text-align: center;">6</td>
        <td style="text-align: right;">346.870025,309.259033,999.155700</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Millieroom.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Millieroom.jpg/thumbnail.jpg" alt="Millieroom.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Sherman dam</td>
        <td style="text-align: center;">17</td>
        <td style="text-align: right;">-959.564392,1848.576782,9.000000</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Shermandam.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Shermandam.jpg/thumbnail.jpg" alt="Shermandam.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Planning dept.</td>
        <td style="text-align: center;">3</td>
        <td style="text-align: right;">384.808624,173.804992,1008.382812</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Planningdept.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Planningdept.jpg/thumbnail.jpg" alt="Planningdept.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Area 51</td>
        <td style="text-align: center;">0</td>
        <td style="text-align: right;">223.431976,1872.400268,13.734375</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Area69.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Area69.jpg/thumbnail.jpg" alt="Area69.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>LS gym</td>
        <td style="text-align: center;">5</td>
        <td style="text-align: right;">772.111999,-3.898649,1000.728820</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/LSgym.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/LSgym.jpg/thumbnail.jpg" alt="LSgym.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>SF gym</td>
        <td style="text-align: center;">6</td>
        <td style="text-align: right;">774.213989,-48.924297,1000.585937</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/SFgym.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/SFgym.jpg/thumbnail.jpg" alt="SFgym.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>LV gym</td>
        <td style="text-align: center;">7</td>
        <td style="text-align: right;">773.579956,-77.096694,1000.655029</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/LVgym.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/LVgym.jpg/thumbnail.jpg" alt="LVgym.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>B Dup's house</td>
        <td style="text-align: center;">3</td>
        <td style="text-align: right;">1527.229980,-11.574499,1002.097106</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Bdupshouse.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Bdupshouse.jpg/thumbnail.jpg" alt="Bdupshouse.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>B Dup's crack pad</td>
        <td style="text-align: center;">2</td>
        <td style="text-align: right;">1523.509887,-47.821197,1002.130981</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Bdupscrackpad.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Bdupscrackpad.jpg/thumbnail.jpg" alt="Bdupscrackpad.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Cj's house</td>
        <td style="text-align: center;">3</td>
        <td style="text-align: right;">2496.049804,-1695.238159,1014.742187</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Cjshouse.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Cjshouse.jpg/thumbnail.jpg" alt="Cjshouse.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Madd Doggs mansion</td>
        <td style="text-align: center;">5</td>
        <td style="text-align: right;">1267.663208,-781.323242,1091.906250</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Madddoggs.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Madddoggs.jpg/thumbnail.jpg" alt="Madddoggs.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Og Loc's house</td>
        <td style="text-align: center;">3</td>
        <td style="text-align: right;">513.882507,-11.269994,1001.565307</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Oglocshouse.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Oglocshouse.jpg/thumbnail.jpg" alt="Oglocshouse.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Ryders house</td>
        <td style="text-align: center;">2</td>
        <td style="text-align: right;">2454.717041,-1700.871582,1013.515197</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Rydershouse.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Rydershouse.jpg/thumbnail.jpg" alt="Rydershouse.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Sweet's house</td>
        <td style="text-align: center;">1</td>
        <td style="text-align: right;">2527.654052,-1679.388305,1015.498596</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Sweetshouse.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Sweetshouse.jpg/thumbnail.jpg" alt="Sweetshouse.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Crack factory</td>
        <td style="text-align: center;">2</td>
        <td style="text-align: right;">2543.462646,-1308.379882,1026.728393</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Crackfactory1.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Crackfactory1.jpg/thumbnail.jpg" alt="Crackfactory1.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Big spread ranch</td>
        <td style="text-align: center;">3</td>
        <td style="text-align: right;">1212.019897,-28.663099,1000.953125</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Bigspreadranch.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Bigspreadranch.jpg/thumbnail.jpg" alt="Bigspreadranch.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Fanny batters</td>
        <td style="text-align: center;">6</td>
        <td style="text-align: right;">761.412963,1440.191650,1102.703125</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Fannybatters.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Fannybatters.jpg/thumbnail.jpg" alt="Fannybatters.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Strip club</td>
        <td style="text-align: center;">2</td>
        <td style="text-align: right;">1204.809936,-11.586799,1000.921875</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Stripclub.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Stripclub.jpg/thumbnail.jpg" alt="Stripclub.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Strip club private room</td>
        <td style="text-align: center;">2</td>
        <td style="text-align: right;">1204.809936,13.897239,1000.921875</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Stripclubroom.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Stripclubroom.jpg/thumbnail.jpg" alt="Stripclubroom.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Unnamed brothel</td>
        <td style="text-align: center;">3</td>
        <td style="text-align: right;">942.171997,-16.542755,1000.929687</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Unnamedbrothel.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Unnamedbrothel.jpg/thumbnail.jpg" alt="Unnamedbrothel.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Tiger skin brothel</td>
        <td style="text-align: center;">3</td>
        <td style="text-align: right;">964.106994,-53.205497,1001.124572</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Tigerskinbrothel.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Tigerskinbrothel.jpg/thumbnail.jpg" alt="Tigerskinbrothel.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Pleasure domes</td>
        <td style="text-align: center;">3</td>
        <td style="text-align: right;">-2640.762939,1406.682006,906.460937</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Pleasuredomes.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Pleasuredomes.jpg/thumbnail.jpg" alt="Pleasuredomes.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Liberty city outside</td>
        <td style="text-align: center;">1</td>
        <td style="text-align: right;">-729.276000,503.086944,1371.971801</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/LCoutside.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/LCoutside.jpg/thumbnail.jpg" alt="LCoutside.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Liberty city inside</td>
        <td style="text-align: center;">1</td>
        <td style="text-align: right;">-794.806396,497.738037,1376.195312</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/LCinside.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/LCinside.jpg/thumbnail.jpg" alt="LCinside.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Gang house</td>
        <td style="text-align: center;">5</td>
        <td style="text-align: right;">2350.339843,-1181.649902,1027.976562</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Ganghouse.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Ganghouse.jpg/thumbnail.jpg" alt="Ganghouse.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Colonel Furhberger's</td>
        <td style="text-align: center;">8</td>
        <td style="text-align: right;">2807.619873,-1171.899902,1025.570312</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Colfurhbergers.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Colfurhbergers.jpg/thumbnail.jpg" alt="Colfurhbergers.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Crack den</td>
        <td style="text-align: center;">5</td>
        <td style="text-align: right;">318.564971,1118.209960,1083.882812</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Crackden.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Crackden.jpg/thumbnail.jpg" alt="Crackden.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Warehouse 1</td>
        <td style="text-align: center;">1</td>
        <td style="text-align: right;">1412.639892,-1.787510,1000.924377</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Warehouse1.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Warehouse1.jpg/thumbnail.jpg" alt="Warehouse1.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Warehouse 2</td>
        <td style="text-align: center;">18</td>
        <td style="text-align: right;">1302.519897,-1.787510,1001.028259</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Warehouse2.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Warehouse2.jpg/thumbnail.jpg" alt="Warehouse2.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Sweets garage</td>
        <td style="text-align: center;">0</td>
        <td style="text-align: right;">2522.000000,-1673.383911,14.866223</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Sweetsgarage.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Sweetsgarage.jpg/thumbnail.jpg" alt="Sweetsgarage.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Lil' probe inn toilet</td>
        <td style="text-align: center;">18</td>
        <td style="text-align: right;">-221.059051,1408.984008,27.773437</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Toilet.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Toilet.jpg/thumbnail.jpg" alt="Toilet.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Unused safe house</td>
        <td style="text-align: center;">12</td>
        <td style="text-align: right;">2324.419921,-1145.568359,1050.710083</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Safehouseunused.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Safehouseunused.jpg/thumbnail.jpg" alt="Safehouseunused.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>RC Battlefield</td>
        <td style="text-align: center;">10</td>
        <td style="text-align: right;">-975.975708,1060.983032,1345.671875</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Rcbattlefield.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Rcbattlefield.jpg/thumbnail.jpg" alt="Rcbattlefield.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Barber 1</td>
        <td style="text-align: center;">2</td>
        <td style="text-align: right;">411.625976,-21.433298,1001.804687</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Barber1.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Barber1.jpg/thumbnail.jpg" alt="Barber1.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Barber 2</td>
        <td style="text-align: center;">3</td>
        <td style="text-align: right;">418.652984,-82.639793,1001.804687</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Barber2.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Barber2.jpg/thumbnail.jpg" alt="Barber2.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Barber 3</td>
        <td style="text-align: center;">12</td>
        <td style="text-align: right;">412.021972,-52.649898,1001.898437</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Barber3.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Barber3.jpg/thumbnail.jpg" alt="Barber3.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Tatoo parlour 1</td>
        <td style="text-align: center;">16</td>
        <td style="text-align: right;">-204.439987,-26.453998,1002.273437</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Tatooparlour.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Tatooparlour.jpg/thumbnail.jpg" alt="Tatooparlour.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Tatoo parlour 2</td>
        <td style="text-align: center;">17</td>
        <td style="text-align: right;">-204.439987,-8.469599,1002.273437</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Tatooparlour.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Tatooparlour.jpg/thumbnail.jpg" alt="Tatooparlour.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Tatoo parlour 3</td>
        <td style="text-align: center;">3</td>
        <td style="text-align: right;">-204.439987,-43.652496,1002.273437</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Tatooparlour.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Tatooparlour.jpg/thumbnail.jpg" alt="Tatooparlour.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>LS police HQ</td>
        <td style="text-align: center;">6</td>
        <td style="text-align: right;">246.783996,63.900199,1003.640625</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/LSPD1.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/LSPD1.jpg/thumbnail.jpg" alt="LSPD1.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>SF police HQ</td>
        <td style="text-align: center;">10</td>
        <td style="text-align: right;">246.375991,109.245994,1003.218750</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/SFPD.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/SFPD.jpg/thumbnail.jpg" alt="SFPD.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>LV police HQ</td>
        <td style="text-align: center;">3</td>
        <td style="text-align: right;">288.745971,169.350997,1007.171875</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/LVPD.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/LVPD.jpg/thumbnail.jpg" alt="LVPD.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Car school</td>
        <td style="text-align: center;">3</td>
        <td style="text-align: right;">-2029.798339,-106.675910,1035.171875</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Carschool.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Carschool.jpg/thumbnail.jpg" alt="Carschool.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>8-Track</td>
        <td style="text-align: center;">7</td>
        <td style="text-align: right;">-1398.065307,-217.028900,1051.115844</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Hotring.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Hotring.jpg/thumbnail.jpg" alt="Hotring.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Bloodbowl</td>
        <td style="text-align: center;">15</td>
        <td style="text-align: right;">-1398.103515,937.631164,1036.479125</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Bloodbowl.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Bloodbowl.jpg/thumbnail.jpg" alt="Bloodbowl.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Dirt track</td>
        <td style="text-align: center;">4</td>
        <td style="text-align: right;">-1444.645507,-664.526000,1053.572998</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Dirttrack.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Dirttrack.jpg/thumbnail.jpg" alt="Dirttrack.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Kickstart</td>
        <td style="text-align: center;">14</td>
        <td style="text-align: right;">-1465.268676,1557.868286,1052.531250</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Kickstart.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Kickstart.jpg/thumbnail.jpg" alt="Kickstart.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Vice stadium</td>
        <td style="text-align: center;">1</td>
        <td style="text-align: right;">-1401.829956,107.051300,1032.273437</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Vicestadium.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Vicestadium.jpg/thumbnail.jpg" alt="Vicestadium.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>SF Garage</td>
        <td>0</td>
        <td>-1790.378295,1436.949829,7.187500</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/SFgarage.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/SFgarage.jpg/thumbnail.jpg" alt="SFgarage.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>LS Garage</td>
        <td>0</td>
        <td>1643.839843,-1514.819580,13.566620</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/LSgarage.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/LSgarage.jpg/thumbnail.jpg" alt="LSgarage.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>SF Bomb shop</td>
        <td>0</td>
        <td>-1685.636474,1035.476196,45.210937</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/SFbombshop.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/SFbombshop.jpg/thumbnail.jpg" alt="SFbombshop.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Blueberry warehouse</td>
        <td>0</td>
        <td>76.632553,-301.156829,1.578125</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Blueberrywarehouse.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Blueberrywarehouse.jpg/thumbnail.jpg" alt="Blueberrywarehouse.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>LV Warehouse 1</td>
        <td>0</td>
        <td>1059.895996,2081.685791,10.820312</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/LVwarehouse1.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/LVwarehouse1.jpg/thumbnail.jpg" alt="LVwarehouse1.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>LV Warehouse 2 (hidden part)</td>
        <td>0</td>
        <td>1059.180175,2148.938720,10.820312</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/LVwarehouse2.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/LVwarehouse2.jpg/thumbnail.jpg" alt="LVwarehouse2.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Catigula's hidden room</td>
        <td>1</td>
        <td>2131.507812,1600.818481,1008.359375</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Casinoroom.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Casinoroom.jpg/thumbnail.jpg" alt="Casinoroom.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Bank</td>
        <td>0</td>
        <td>2315.952880,-1.618174,26.742187</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Bank1.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Bank1.jpg/thumbnail.jpg" alt="Bank1.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Bank (behind desk)</td>
        <td>0</td>
        <td>2319.714843,-14.838361,26.749565</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Bank2.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Bank2.jpg/thumbnail.jpg" alt="Bank2.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>LS Atruim</td>
        <td>18</td>
        <td>1710.433715,-1669.379272,20.225049</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/Atrium.jpg"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/Atrium.jpg/thumbnail.jpg" alt="Atrium.jpg" class="image" /></a></td>
    </tr>
    <tr>
        <td>Bike School</td>
        <td>3</td>
        <td>1494.325195,1304.942871,1093.289062</td>
        <td><a class="external" target="_blank" href="http://weedarr.wdfiles.com/local--files/interior/bike.png"><img src="http://weedarr.wdfiles.com/local--resized-images/interior/bike.png/thumbnail.jpg" alt="bike.png" class="image" /></a></td>
    </tr>
</table>

Оригинал с сайта: <a class="external" target="_blank" href="http://weedarr.wikidot.com/interior">http://weedarr.wikidot.com/interior</a>
