
@{
    ViewBag.Title = "Гоночные чекпоинты";
}

<table border="0" cellspacing="0" cellpadding="2" style="width: 100%">
    <tr><th>ID</th><th>Изображение</th><th>Описание</th></tr>
    <tr>
        <td>0</td>
        <td><img src="http://hotmist.ddo.jp/id/rcp_0.jpg" /></td>
        <td>Со стрелочкой, указывающей направление</td>
    </tr>
    <tr>
        <td>1</td>
        <td><img src="http://hotmist.ddo.jp/id/rcp_1.jpg" /></td>
        <td>Финишный чекпоинт</td>
    </tr>
    <tr>
        <td>2</td>
        <td><img src="http://hotmist.ddo.jp/id/rcp_2.jpg" /></td>
        <td>Обычный чекпоинт</td>
    </tr>
    <tr>
        <td>3</td>
        <td><img src="http://hotmist.ddo.jp/id/rcp_3.jpg" /></td>
        <td>Обычный чекпоинт: воздух</td>
    </tr>
    <tr>
        <td>4</td>
        <td><img src="http://hotmist.ddo.jp/id/rcp_4.jpg" /></td>
        <td>Финишный чекпоинт: воздух</td>
    </tr>
    <tr>
        <td>5</td>
        <td><img src="http://hotmist.ddo.jp/id/rcp_5.jpg" /></td>
        <td>Автоматически поворачивается, останавливается</td>
    </tr>
    <tr>
        <td>6</td>
        <td><img src="http://hotmist.ddo.jp/id/rcp_6.jpg" /></td>
        <td>Появляется -> увеличивается -> уменьшается -> изчезает. На карте остается</td>
    </tr>
    <tr>
        <td>7</td>
        <td><img src="http://hotmist.ddo.jp/id/rcp_7.jpg" /></td>
        <td>Воздушный чекпоинт: Колеблется вниз-вверх</td>
    </tr>
    <tr>
        <td>8</td>
        <td><img src="http://hotmist.ddo.jp/id/rcp_8.jpg" /></td>
        <td>Воздушный чекпоинт: Колеблется вверх-вниз</td>
    </tr>



</table>

Оригинал на <a href="http://hotmist.ddo.jp/id/racecp.html" class="external" target="_blank">hotmist.ddo.jp</a>

